.schedule{
	.label {
		color: black;
	}

	.text-input {
		width: 100%;
		padding: 10px 15px;
		border: 1.5px solid var(--crewhrm-border-color-tertiary);
		color: var(--crewhrm-text-color-primary);
	}

	input.text-input {
		border-radius: 10px;
	}

	textarea.text-input {
		border-radius: 5px;
	}

	.guests {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 25px;
		align-items: center;
	}
}
