.employee-profile {
	display: grid;
	grid-template-columns: 0.7fr 3fr 1fr;
	gap: 50px;
	margin: 40px auto 200px auto;
	.employee-profile-img {
		div {
			width: 125px;
			height: 150px;
			position: relative;
			border-radius: 5px;
			i {
				display: none;
				padding: 14px;
				background: #fff;
				border-radius: 110px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}
			img {
				border-radius: 5px;
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: transparent;
				transition: all 0.3s;
			}
			&:hover {
				&:after {
					background: rgba(0, 0, 0, 0.5);
				}
				i {
					display: block;
				}
			}
		}
	}

	.profile-segment {
		&:not(:hover) {
			.profile-segment-edit-icon {
				visibility: hidden;
			}
		}
	}
	
	.employee-nameplate {
		.basic-info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 35px;
			> span {
				position: relative;
				&:not(:last-child):after {
					content: '';
					position: absolute;
					width: 6px;
					height: 6px;
					right: -20px;
					background: #bbbfc3;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50%;
				}
			}
		}
	}
	.table-like-div {
		display: grid;
		grid-template-columns: 160px 1fr;
		gap: 20px;
	}

	.employee-status {
		max-width: 300px;
		
		.employee-social-profile {
			a {
				cursor: pointer;
				display: inline-block;
				width: 42px;
				height: 42px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: 1px solid var(--crewmat-color-text);

				&:not(:hover) {
					opacity: .6;
				}

				img {
					width: 16px;
					height: auto;
				}
			}
		}
	}

	.report-area {
		.reported-persons-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(90px, 108px));
			gap: 28px 15px;
			> a {
				display: block;
				cursor: pointer;

				&:not(:hover) {
					img {
						opacity: .94;
					}
				}

				&, &:active, &:focus, &:hover {
					text-decoration: none;
					box-shadow: none;
					outline: none;
					color: var(--crewmat-color-text-light);
				}

				img {
					max-width: 40px;
					width: 40px;
					border-radius: 50%;
				}
			}
		}
	}

	@media (max-width: 1199px) {
		grid-template-columns: 1fr;
	}
	@media (max-width: 768px) {
		.personal-info-area {
			padding: 30px 15px;
		}
		.table-like-div {
			grid-template-columns: 115px 1fr;
			gap: 15px;
		}
	}
}
