.crew-hrm-border {
	border-radius: 10px;
	border: 1.5px solid #e3e5e8;
	background: #fff;
}

.custom-work-schedule-wrapper {
	padding: 10px 16px;
	> div {
		padding: 12px 5px;
		border-width: 1.5px 0px 0px 0px;
		border-color: #e3e5e8;
		border-style: solid;
		&:first-child {
			border-width: 0px;
		}
	}
	.custom-work-schedule {
		.custom-work-schedule-day {
			flex: 0 0 150px;
			margin-top: 7px;
		}
		.custom-work-schedule-time-wrapper {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex: 0 0 290px;
			.custom-work-schedule-time {
				max-height: 42px;
				label {
					max-height: 38px;
					width: 137px;
				}
				.line {
					display: inline-block;
					flex: 0 0 8px;
					height: 2px;
					background-color: #bbbfc3;
				}
			}
		}
		.addshedule {
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			img {
				padding: 8px;
				border-radius: 100px;
				&:hover {
					background-color: #f9f9f9;
				}
			}
		}
	}
}
