.button{
	border: 0;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;

	&.button-primary {
		background-color: var(--crewhrm-background-color-primary);
		color: var(--crewhrm-foreground-color-primary);
	}
}