.text-color-primary {
	color: var(--crewhrm-text-color-primary);
}

.text-color-secondary {
	color: var(--crewhrm-text-color-secondary);
}

.text-color-tertiary {
	color: var(--crewhrm-text-color-tertiary);
}