/* Text colors */
.text-color-primary {
	color: var(--crewhrm-color-text);
}

.text-color-light {
	color: var(--crewhrm-color-text-light);

	&.cursor-pointer {
		&:hover {
			color: var(--crewhrm-color-text);
		}
	}
}

.text-color-secondary, .text-color-hover-secondary:hover {
	color: var(--crewhrm-color-secondary);
}

.text-color-lighter {
	color: var(--crewhrm-color-text-lighter);
}

.text-color-danger {
	color: var(--crewhrm-color-danger);
}

.text-color-white {
	color: white;
}

.text-color-black {
	color: black;
}

/* Background colors */
.background-color-primary {
	background-color: var(--crewhrm-color-primary);
}

.background-color-secondary {
	background-color: var(--crewhrm-color-secondary);
}

.background-color-tertiary {
	background-color: var(--crewhrm-color-tertiary);
}

.background-color-white {
	background-color: white;
}

.background-color-transparent {
	background-color: transparent;
}

/* Border colors */
.border-color-primary {
	&, &[type] {
		border-color: var(--crewhrm-color-primary);
	}
}

.border-color-secondary {
	&, &[type] {
		border-color: var(--crewhrm-color-secondary);
	}
}

.border-color-tertiary {
	&, &[type] {
		border-color: var(--crewhrm-color-tertiary);
	}

	&.border-focus-color-primary {
		&:focus, &.focused {
			&, &[type] {
				border-color: var(--crewhrm-color-primary);
			}
		}
	}
}

.border-color-transparent {
	&, &[type] {
		border-color: transparent;
	}
}

/* Box shadows */
.box-shadow-thin {
	box-shadow: 0px 1px 2px 0px rgba(16, 39, 68, 0.08);
}

.box-shadow-thick {
	box-shadow: 0px 10px 20px 0px rgba(16, 39, 68, 0.10);
}
