.text-color-primary {
	color: var(--crewhrm-text-color-primary);
}

.text-color-secondary {
	color: var(--crewhrm-text-color-secondary);
}

.text-color-tertiary {
	color: var(--crewhrm-text-color-tertiary);
}

.text-color-danger {
	color: var(--crewhrm-text-color-danger);
}

.text-color-white {
	color: white;
}

.foreground-color-primary {
	color: var(--crewhrm-foreground-color-primary);
}

.box-shadow-thin {
	box-shadow: 0px 1px 2px 0px rgba(16, 39, 68, 0.08);
}

.box-shadow-thick {
	box-shadow: 0px 10px 20px 0px rgba(16, 39, 68, 0.10);
}