
@font-face {
	font-family: 'CrewHRM-Figtree-Regular';
	src: url('../fonts/Figtree/static/Figtree-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'CrewHRM-Figtree-Medium';
	src: url('../fonts/Figtree/static/Figtree-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'CrewHRM-Figtree-SemiBold';
	src: url('../fonts/Figtree/static/Figtree-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'CrewHRM-Figtree-Bold';
	src: url('../fonts/Figtree/static/Figtree-Bold.ttf') format('truetype');
}

// Font weights
.font-weight-400 {
	font-family: CrewHRM-Figtree-Regular;
}

.font-weight-500 {
	font-family: CrewHRM-Figtree-Medium;
}

.font-weight-600 {
	font-family: CrewHRM-Figtree-SemiBold;
}

.font-weight-700 {
	font-family: CrewHRM-Figtree-Bold;
}
