$tick_svg: "data:image/svg+xml,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.922 5.7a.627.627 0 01-.127-.194.72.72 0 010-.5.6.6 0 01.127-.195l.905-.867a.562.562 0 01.425-.195.592.592 0 01.25.05.665.665 0 01.207.145l2.73 2.734L11.295.82a.658.658 0 01.202-.145.613.613 0 01.484.002.568.568 0 01.191.143l.905.88a.6.6 0 01.127.195.72.72 0 010 .5.628.628 0 01-.127.194l-7.2 7.163a.575.575 0 01-.195.147.655.655 0 01-.5 0 .575.575 0 01-.195-.147L.922 5.7z' fill='%23fff'/%3E%3C/svg%3E";

.root {
    &,
    * {
        box-sizing: border-box;
        word-break: break-word;
    }

    // Remove typical anchor tag styles
    a {
        cursor: pointer;
    }

    a,
    input,
    textarea {
        &,
        &:hover,
        &:active,
        &:focus {
            text-decoration: none !important;
            outline: none;
            box-shadow: none;
        }
    }

    // Apply custom style to input checkbox and radio fields
    input[type='checkbox'],
    input[type='radio'] {
        &:not([data-checkbox-type='toggle']) {
            text-align: center;
            vertical-align: middle;
            background-color: white;
            width: 18px;
            height: 18px;
            margin: 0;
            border: 1.5px solid rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            cursor: pointer;
            appearance: none;
            color-adjust: exact;
            background-size: 12px;
            background-position: center center;
            background-repeat: no-repeat;

            &::before,
            &::after {
                content: normal;
                display: inline;
                position: static;
            }

            &[type='checkbox'] {
                &:checked {
                    border-color: var(--crewhrm-color-secondary);
                    background-color: var(--crewhrm-color-secondary);
                    background-image: url($tick_svg);
                }
            }

            &[type='radio'] {
                border-radius: 50%;
                &:checked {
                    border-color: var(--crewhrm-color-secondary);
                    background-color: var(--crewhrm-color-secondary);
                    background-image: url($tick_svg);
                }
            }

            &:disabled {
                opacity: 0.4;
            }
        }
    }

    // Elements disable state
    .disabled,
    *:disabled {
        pointer-events: none;
        cursor: default;
    }
}
