// Displays
$displays: 'block', 'flex', 'inline', 'inline-block', 'inline-flex', 'contents';
@each $display in $displays {
	.d-#{$display} {
		display: #{$display};
	}
}

// Sizings
$attrs: 'font-size', 'margin', 'margin-top', 'margin-bottom', 'margin-left', 'margin-right', 'padding', 'padding-top', 'padding-bottom', 'padding-left', 'padding-right', 'width', 'height';
@for $i from 1 through 40 {
	@each $attr in $attrs {
		.#{$attr}-#{$i} {
			#{$attr}: #{$i}px;
		}
	}

	@if $i >= 5 and $i <= 10 {
		.border-radius-#{$i} {
			border-radius: #{$i}px;
			overflow: hidden;
		}
	}
}

// Font weights
$weights: 400, 500, 600, 700;
@each $weight in $weights {
	.font-weight-#{$weight} {
		font-weight: $weight;
	}
}

// Flex content justify
$justifications: 'space-between', 'space-around';
@each $justfication in $justifications {
	.#{$justfication} {
		justify-content: #{$justfication};
	}
}

// Cursors
$cursors: 'pointer', 'default';
@each $cursor in $cursors {
	.cursor-#{$cursor} {
		cursor: #{$cursor};
	}
}

// Text alignments
$alignments: 'left', 'right', 'center';
@each $alignment in $alignments {
	.text-align-#{$alignment} {
		text-align: #{$alignment};
	}
}

// Vertical alignments
$v_alignments: 'middle', 'top';
@each $v_alignment in $v_alignments {
	.vertical-align-#{$v_alignment} {
		vertical-align: #{$v_alignment};
	}
}

// Other randoms
.flex-1{
	flex: 1;
}

.align-items-center {
	align-items: center;
}

.h-full {
	min-height: 100%;
}

.w-full {
	min-width: 100%;
}

.background-color-white {
	background-color: white;
}

// Grid
.column {
	display: flex;
	align-items: stretch;
	margin-left: -10px;
	margin-right: -10px;

	&>div{
		margin: 0 10px;
		flex: 1;
	}
}