// Text alignments
$alignments: 'left', 'right', 'center', 'justify';
@each $alignment in $alignments {
    .text-align-#{$alignment} {
        text-align: #{$alignment};
    }
}

// Whitespaces
$whitespaces: 'normal', 'pre', 'nowrap';
@each $whitespace in $whitespaces {
    .white-space-#{$whitespace} {
        white-space: #{$whitespace};
    }
}

// Transforms
$transforms: 'uppercase', 'lowercase';
@each $transform in $transforms {
    .text-transform-#{$transform} {
        text-transform: #{$transform};
    }
}

.text-field-flat {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;

    &,
    &:hover,
    &:active,
    &:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        background: transparent !important;
        background-color: transparent !important;
    }
}
