.notice {
    &.success {
        background-color: var(--crewmat-color-success);
    }

    &.warning {
        background-color: var(--crewmat-color-warning);
    }

    &.error {
        background-color: var(--crewmat-color-error);
    }
}
