.notice {
    &.success {
        background-color: var(--crewhrm-color-success);
    }

    &.warning {
        background-color: var(--crewhrm-color-warning);
    }

    &.error {
        background-color: var(--crewhrm-color-error);
    }
}
