.dropdown {
	padding: 8px 15px;	

	&:not(.transparent) {
		background-color: white;
	}
}

.dropdown-popup {
	.trigger-point {
		&>div {
			border: none;
			border-radius: 0;
			border-bottom: 1px solid var(--crewhrm-border-color-tertiary);
		}
	}


	.list-wrapper {
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: auto;

		&, .list-item {
			&:not(:last-child) {
				border-bottom: 1px solid var(--crewhrm-border-color-tertiary);
			}
		}
	}

	.list-item, .add-item {
		&.active, &:hover {
			background-color: var(--crewhrm-background-color-tertiary);
		}
	}
}