@font-face {
  font-family: 'crewhrm';
  src:
    url('fonts/crewhrm.ttf?k55z91') format('truetype'),
    url('fonts/crewhrm.woff?k55z91') format('woff'),
    url('fonts/crewhrm.svg?k55z91#crewhrm') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ch-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crewhrm' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ch-icon-arrow-left-2:before {
  content: "\e908";
}
.ch-icon-arrow-right-2:before {
  content: "\e909";
}
.ch-icon-redo:before {
  content: "\e906";
}
.ch-icon-undo:before {
  content: "\e907";
}
.ch-icon-menu:before {
  content: "\e905";
}
.ch-icon-arrow-right:before {
  content: "\e904";
}
.ch-icon-briefcase:before {
  content: "\e901";
}
.ch-icon-empty-wallet:before {
  content: "\e902";
}
.ch-icon-location:before {
  content: "\e903";
}
.ch-icon-folder-add:before {
  content: "\e900";
}
.ch-icon-share:before {
  content: "\eca4";
}
.ch-icon-add-square:before {
  content: "\eca2";
}
.ch-icon-minus-square:before {
  content: "\eca3";
}
.ch-icon-drag:before {
  content: "\eca0";
  color: #72777b;
}
.ch-icon-trash:before {
  content: "\eca1";
}
.ch-icon-add-circle:before {
  content: "\ec9f";
}
.ch-icon-slash:before {
  content: "\ec9e";
}
.ch-icon-anchor:before {
  content: "\ec9a";
}
.ch-icon-behance:before {
  content: "\ec9b";
}
.ch-icon-linkedin:before {
  content: "\ec9c";
}
.ch-icon-twitter:before {
  content: "\ec9d";
}
.ch-icon-flag:before {
  content: "\ec98";
}
.ch-icon-archive:before {
  content: "\e91c";
}
.ch-icon-arrow-down:before {
  content: "\e929";
}
.ch-icon-arrow-left:before {
  content: "\e92d";
}
.ch-icon-building-4:before {
  content: "\e983";
}
.ch-icon-calendar:before {
  content: "\e993";
}
.ch-icon-clock-1:before {
  content: "\e9c3";
}
.ch-icon-copy:before {
  content: "\e9e5";
}
.ch-icon-dribble:before {
  content: "\ea1c";
}
.ch-icon-edit-2:before {
  content: "\ea23";
}
.ch-icon-eye:before {
  content: "\ea41";
}
.ch-icon-hierarchy:before {
  content: "\eaaf";
}
.ch-icon-lamp-charge:before {
  content: "\eac8";
}
.ch-icon-message-text-1:before {
  content: "\eb10";
}
.ch-icon-message:before {
  content: "\eb14";
}
.ch-icon-more:before {
  content: "\eb37";
  color: #72777b;
}
.ch-icon-paperclip-2:before {
  content: "\eb60";
}
.ch-icon-profile-2user:before {
  content: "\eb85";
}
.ch-icon-search-normal-1:before {
  content: "\ebd5";
}
.ch-icon-sms:before {
  content: "\ec10";
}
.ch-icon-textalign-left:before {
  content: "\ec35";
}
.ch-icon-times:before {
  content: "\ec43";
}
.ch-icon-trello:before {
  content: "\ec4b";
}
.ch-icon-user-tick:before {
  content: "\ec62";
}
