@font-face {
  font-family: 'crewhrm';
  src:
    url('fonts/crewhrm.ttf?mq5f6o') format('truetype'),
    url('fonts/crewhrm.woff?mq5f6o') format('woff'),
    url('fonts/crewhrm.svg?mq5f6o#crewhrm') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ch-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crewhrm' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ch-icon-flag:before {
  content: "\ec98";
}
.ch-icon-d-cube-scan:before {
  content: "\e900";
}
.ch-icon-d-rotate:before {
  content: "\e901";
}
.ch-icon-d-square:before {
  content: "\e902";
}
.ch-icon-square:before {
  content: "\e903";
}
.ch-icon-support:before {
  content: "\e904";
}
.ch-icon-aave-aave:before {
  content: "\e905";
}
.ch-icon-activity:before {
  content: "\e906";
}
.ch-icon-additem:before {
  content: "\e907";
}
.ch-icon-airdrop:before {
  content: "\e908";
}
.ch-icon-airplane-square:before {
  content: "\e909";
}
.ch-icon-airplane:before {
  content: "\e90a";
}
.ch-icon-airpod:before {
  content: "\e90b";
}
.ch-icon-airpods:before {
  content: "\e90c";
}
.ch-icon-alarm:before {
  content: "\e90d";
}
.ch-icon-align-bottom:before {
  content: "\e90e";
}
.ch-icon-align-horizontally:before {
  content: "\e90f";
}
.ch-icon-align-left:before {
  content: "\e910";
}
.ch-icon-align-right:before {
  content: "\e911";
}
.ch-icon-align-vertically:before {
  content: "\e912";
}
.ch-icon-android:before {
  content: "\e913";
}
.ch-icon-ankr-ankr:before {
  content: "\e914";
}
.ch-icon-apple:before {
  content: "\e915";
}
.ch-icon-aquarius:before {
  content: "\e916";
}
.ch-icon-archive-add:before {
  content: "\e917";
}
.ch-icon-archive-book:before {
  content: "\e918";
}
.ch-icon-archive-minus:before {
  content: "\e919";
}
.ch-icon-archive-slash:before {
  content: "\e91a";
}
.ch-icon-archive-tick:before {
  content: "\e91b";
}
.ch-icon-archive:before {
  content: "\e91c";
}
.ch-icon-arrange-circle-2:before {
  content: "\e91d";
}
.ch-icon-arrange-circle:before {
  content: "\e91e";
}
.ch-icon-arrange-square-2:before {
  content: "\e91f";
}
.ch-icon-arrange-square:before {
  content: "\e920";
}
.ch-icon-arrow-2:before {
  content: "\e921";
}
.ch-icon-arrow-3:before {
  content: "\e922";
}
.ch-icon-arrow-bottom:before {
  content: "\e923";
}
.ch-icon-arrow-circle-down:before {
  content: "\e924";
}
.ch-icon-arrow-circle-left:before {
  content: "\e925";
}
.ch-icon-arrow-circle-right:before {
  content: "\e926";
}
.ch-icon-arrow-down-1:before {
  content: "\e927";
}
.ch-icon-arrow-down-2:before {
  content: "\e928";
}
.ch-icon-arrow-down:before {
  content: "\e929";
}
.ch-icon-arrow-left-1:before {
  content: "\e92a";
}
.ch-icon-arrow-left-2:before {
  content: "\e92b";
}
.ch-icon-arrow-left-3:before {
  content: "\e92c";
}
.ch-icon-arrow-left:before {
  content: "\e92d";
}
.ch-icon-arrow-right-1:before {
  content: "\e92e";
}
.ch-icon-arrow-right-2:before {
  content: "\e92f";
}
.ch-icon-arrow-right-3:before {
  content: "\e930";
}
.ch-icon-arrow-right:before {
  content: "\e931";
}
.ch-icon-arrow-square-down:before {
  content: "\e932";
}
.ch-icon-arrow-square-left:before {
  content: "\e933";
}
.ch-icon-arrow-square-right:before {
  content: "\e934";
}
.ch-icon-arrow-square-up:before {
  content: "\e935";
}
.ch-icon-arrow-square:before {
  content: "\e936";
}
.ch-icon-arrow-swap-horizontal:before {
  content: "\e937";
}
.ch-icon-arrow-up-1:before {
  content: "\e938";
}
.ch-icon-arrow-up-2:before {
  content: "\e939";
}
.ch-icon-arrow-up-3:before {
  content: "\e93a";
}
.ch-icon-arrow-up:before {
  content: "\e93b";
}
.ch-icon-arrow:before {
  content: "\e93c";
}
.ch-icon-attach-circle:before {
  content: "\e93d";
}
.ch-icon-attach-square:before {
  content: "\e93e";
}
.ch-icon-audio-square:before {
  content: "\e93f";
}
.ch-icon-augur-rep:before {
  content: "\e940";
}
.ch-icon-autonio-niox:before {
  content: "\e941";
}
.ch-icon-avalanche-avax:before {
  content: "\e942";
}
.ch-icon-award:before {
  content: "\e943";
}
.ch-icon-back-square:before {
  content: "\e944";
}
.ch-icon-backward-5-seconds:before {
  content: "\e945";
}
.ch-icon-backward-10-seconds:before {
  content: "\e946";
}
.ch-icon-backward-15-seconds:before {
  content: "\e947";
}
.ch-icon-backward-item-1:before {
  content: "\e948";
}
.ch-icon-backward-item:before {
  content: "\e949";
}
.ch-icon-backward:before {
  content: "\e94a";
}
.ch-icon-bag-2:before {
  content: "\e94b";
}
.ch-icon-bag-cross-1:before {
  content: "\e94c";
}
.ch-icon-bag-cross:before {
  content: "\e94d";
}
.ch-icon-bag-happy:before {
  content: "\e94e";
}
.ch-icon-bag-tick-2:before {
  content: "\e94f";
}
.ch-icon-bag-tick:before {
  content: "\e950";
}
.ch-icon-bag-timer:before {
  content: "\e951";
}
.ch-icon-bag:before {
  content: "\e952";
}
.ch-icon-bank:before {
  content: "\e953";
}
.ch-icon-barcode:before {
  content: "\e954";
}
.ch-icon-be:before {
  content: "\e955";
}
.ch-icon-bezier-1:before {
  content: "\e956";
}
.ch-icon-bezier:before {
  content: "\e957";
}
.ch-icon-bill:before {
  content: "\e958";
}
.ch-icon-binance-coin-bnb:before {
  content: "\e959";
}
.ch-icon-binance-usd-busd:before {
  content: "\e95a";
}
.ch-icon-bitcoin-btc:before {
  content: "\e95b";
}
.ch-icon-bitcoin-card:before {
  content: "\e95c";
}
.ch-icon-bitcoin-convert:before {
  content: "\e95d";
}
.ch-icon-bitcoin-refresh:before {
  content: "\e95e";
}
.ch-icon-blend-2:before {
  content: "\e95f";
}
.ch-icon-blend:before {
  content: "\e960";
}
.ch-icon-blogger:before {
  content: "\e961";
}
.ch-icon-bluetooth-2:before {
  content: "\e962";
}
.ch-icon-bluetooth-circle:before {
  content: "\e963";
}
.ch-icon-bluetooth-rectangle:before {
  content: "\e964";
}
.ch-icon-bluetooth:before {
  content: "\e965";
}
.ch-icon-blur-1:before {
  content: "\e966";
}
.ch-icon-blur:before {
  content: "\e967";
}
.ch-icon-book-1:before {
  content: "\e968";
}
.ch-icon-book-saved:before {
  content: "\e969";
}
.ch-icon-book-square:before {
  content: "\e96a";
}
.ch-icon-book:before {
  content: "\e96b";
}
.ch-icon-bookmark-2:before {
  content: "\e96c";
}
.ch-icon-bookmark:before {
  content: "\e96d";
}
.ch-icon-bootsrap:before {
  content: "\e96e";
}
.ch-icon-box-1:before {
  content: "\e96f";
}
.ch-icon-box-add:before {
  content: "\e970";
}
.ch-icon-box-remove:before {
  content: "\e971";
}
.ch-icon-box-search:before {
  content: "\e972";
}
.ch-icon-box-tick:before {
  content: "\e973";
}
.ch-icon-box-time:before {
  content: "\e974";
}
.ch-icon-box:before {
  content: "\e975";
}
.ch-icon-briefcase:before {
  content: "\e976";
}
.ch-icon-brifecase-cross:before {
  content: "\e977";
}
.ch-icon-brifecase-tick:before {
  content: "\e978";
}
.ch-icon-brifecase-timer:before {
  content: "\e979";
}
.ch-icon-brush-1:before {
  content: "\e97a";
}
.ch-icon-brush-2:before {
  content: "\e97b";
}
.ch-icon-brush-3:before {
  content: "\e97c";
}
.ch-icon-brush:before {
  content: "\e97d";
}
.ch-icon-bucket-circle-1:before {
  content: "\e97e";
}
.ch-icon-bucket-circle:before {
  content: "\e97f";
}
.ch-icon-bucket-square-1:before {
  content: "\e980";
}
.ch-icon-bucket-square:before {
  content: "\e981";
}
.ch-icon-building-3:before {
  content: "\e982";
}
.ch-icon-building-4:before {
  content: "\e983";
}
.ch-icon-building:before {
  content: "\e984";
}
.ch-icon-buildings-2:before {
  content: "\e985";
}
.ch-icon-buildings:before {
  content: "\e986";
}
.ch-icon-buliding:before {
  content: "\e987";
}
.ch-icon-bus:before {
  content: "\e988";
}
.ch-icon-buy-crypto:before {
  content: "\e989";
}
.ch-icon-calculator:before {
  content: "\e98a";
}
.ch-icon-calendar-1:before {
  content: "\e98b";
}
.ch-icon-calendar-2:before {
  content: "\e98c";
}
.ch-icon-calendar-add:before {
  content: "\e98d";
}
.ch-icon-calendar-circle:before {
  content: "\e98e";
}
.ch-icon-calendar-edit:before {
  content: "\e98f";
}
.ch-icon-calendar-remove:before {
  content: "\e990";
}
.ch-icon-calendar-search:before {
  content: "\e991";
}
.ch-icon-calendar-tick:before {
  content: "\e992";
}
.ch-icon-calendar:before {
  content: "\e993";
}
.ch-icon-call-add:before {
  content: "\e994";
}
.ch-icon-call-calling:before {
  content: "\e995";
}
.ch-icon-call-incoming:before {
  content: "\e996";
}
.ch-icon-call-minus:before {
  content: "\e997";
}
.ch-icon-call-outgoing:before {
  content: "\e998";
}
.ch-icon-call-received:before {
  content: "\e999";
}
.ch-icon-call-remove:before {
  content: "\e99a";
}
.ch-icon-call-slash:before {
  content: "\e99b";
}
.ch-icon-call:before {
  content: "\e99c";
}
.ch-icon-camera-slash:before {
  content: "\e99d";
}
.ch-icon-camera:before {
  content: "\e99e";
}
.ch-icon-candle-2:before {
  content: "\e99f";
}
.ch-icon-candle:before {
  content: "\e9a0";
}
.ch-icon-car:before {
  content: "\e9a1";
}
.ch-icon-card-add:before {
  content: "\e9a2";
}
.ch-icon-card-coin:before {
  content: "\e9a3";
}
.ch-icon-card-edit:before {
  content: "\e9a4";
}
.ch-icon-card-pos:before {
  content: "\e9a5";
}
.ch-icon-card-receive:before {
  content: "\e9a6";
}
.ch-icon-card-remove-1:before {
  content: "\e9a7";
}
.ch-icon-card-remove:before {
  content: "\e9a8";
}
.ch-icon-card-send:before {
  content: "\e9a9";
}
.ch-icon-card-slash:before {
  content: "\e9aa";
}
.ch-icon-card-tick-1:before {
  content: "\e9ab";
}
.ch-icon-card-tick:before {
  content: "\e9ac";
}
.ch-icon-card:before {
  content: "\e9ad";
}
.ch-icon-cardano-ada:before {
  content: "\e9ae";
}
.ch-icon-cards:before {
  content: "\e9af";
}
.ch-icon-category-2:before {
  content: "\e9b0";
}
.ch-icon-category:before {
  content: "\e9b1";
}
.ch-icon-celo-celo:before {
  content: "\e9b2";
}
.ch-icon-celsius-cel:before {
  content: "\e9b3";
}
.ch-icon-chainlink-link:before {
  content: "\e9b4";
}
.ch-icon-chart-1:before {
  content: "\e9b5";
}
.ch-icon-chart-2:before {
  content: "\e9b6";
}
.ch-icon-chart-21:before {
  content: "\e9b7";
}
.ch-icon-chart-square:before {
  content: "\e9b8";
}
.ch-icon-chart-success:before {
  content: "\e9b9";
}
.ch-icon-chart:before {
  content: "\e9ba";
}
.ch-icon-check:before {
  content: "\e9bb";
}
.ch-icon-civic-cvc:before {
  content: "\e9bc";
}
.ch-icon-clipboard-close:before {
  content: "\e9bd";
}
.ch-icon-clipboard-export:before {
  content: "\e9be";
}
.ch-icon-clipboard-import:before {
  content: "\e9bf";
}
.ch-icon-clipboard-text:before {
  content: "\e9c0";
}
.ch-icon-clipboard-tick:before {
  content: "\e9c1";
}
.ch-icon-clipboard:before {
  content: "\e9c2";
}
.ch-icon-clock-1:before {
  content: "\e9c3";
}
.ch-icon-clock:before {
  content: "\e9c4";
}
.ch-icon-cloud-add:before {
  content: "\e9c5";
}
.ch-icon-cloud-change:before {
  content: "\e9c6";
}
.ch-icon-cloud-connection:before {
  content: "\e9c7";
}
.ch-icon-cloud-cross:before {
  content: "\e9c8";
}
.ch-icon-cloud-drizzle:before {
  content: "\e9c9";
}
.ch-icon-cloud-fog:before {
  content: "\e9ca";
}
.ch-icon-cloud-lightning:before {
  content: "\e9cb";
}
.ch-icon-cloud-minus:before {
  content: "\e9cc";
}
.ch-icon-cloud-notif:before {
  content: "\e9cd";
}
.ch-icon-cloud-plus:before {
  content: "\e9ce";
}
.ch-icon-cloud-remove:before {
  content: "\e9cf";
}
.ch-icon-cloud-snow:before {
  content: "\e9d0";
}
.ch-icon-cloud-sunny:before {
  content: "\e9d1";
}
.ch-icon-cloud:before {
  content: "\e9d2";
}
.ch-icon-code-1:before {
  content: "\e9d3";
}
.ch-icon-code-circle:before {
  content: "\e9d4";
}
.ch-icon-code:before {
  content: "\e9d5";
}
.ch-icon-coin-1:before {
  content: "\e9d6";
}
.ch-icon-coin:before {
  content: "\e9d7";
}
.ch-icon-color-swatch:before {
  content: "\e9d8";
}
.ch-icon-colorfilter:before {
  content: "\e9d9";
}
.ch-icon-colors-square-1:before {
  content: "\e9da";
}
.ch-icon-colors-square:before {
  content: "\e9db";
}
.ch-icon-command-square:before {
  content: "\e9dc";
}
.ch-icon-command:before {
  content: "\e9dd";
}
.ch-icon-component-1:before {
  content: "\e9de";
}
.ch-icon-component:before {
  content: "\e9df";
}
.ch-icon-convert-3d-cube:before {
  content: "\e9e0";
}
.ch-icon-convert:before {
  content: "\e9e1";
}
.ch-icon-convertshape-2:before {
  content: "\e9e2";
}
.ch-icon-convertshape:before {
  content: "\e9e3";
}
.ch-icon-copy-success:before {
  content: "\e9e4";
}
.ch-icon-copy:before {
  content: "\e9e5";
}
.ch-icon-copyright:before {
  content: "\e9e6";
}
.ch-icon-courthouse:before {
  content: "\e9e7";
}
.ch-icon-cpu-charge:before {
  content: "\e9e8";
}
.ch-icon-cpu-setting:before {
  content: "\e9e9";
}
.ch-icon-cpu:before {
  content: "\e9ea";
}
.ch-icon-creative-commons:before {
  content: "\e9eb";
}
.ch-icon-crop:before {
  content: "\e9ec";
}
.ch-icon-dai-dai:before {
  content: "\e9ed";
}
.ch-icon-dash-dash:before {
  content: "\e9ee";
}
.ch-icon-data-2:before {
  content: "\e9ef";
}
.ch-icon-data:before {
  content: "\e9f0";
}
.ch-icon-decred-dcr:before {
  content: "\e9f1";
}
.ch-icon-dent-dent:before {
  content: "\e9f2";
}
.ch-icon-designtools:before {
  content: "\e9f3";
}
.ch-icon-device-message:before {
  content: "\e9f4";
}
.ch-icon-devices-1:before {
  content: "\e9f5";
}
.ch-icon-devices:before {
  content: "\e9f6";
}
.ch-icon-diagram:before {
  content: "\e9f7";
}
.ch-icon-direct-down:before {
  content: "\e9f8";
}
.ch-icon-direct-inbox:before {
  content: "\e9f9";
}
.ch-icon-direct-left:before {
  content: "\e9fa";
}
.ch-icon-direct-normal:before {
  content: "\e9fb";
}
.ch-icon-direct-notification:before {
  content: "\e9fc";
}
.ch-icon-direct-right:before {
  content: "\e9fd";
}
.ch-icon-direct-send:before {
  content: "\e9fe";
}
.ch-icon-direct-up:before {
  content: "\e9ff";
}
.ch-icon-direct:before {
  content: "\ea00";
}
.ch-icon-directbox-default:before {
  content: "\ea01";
}
.ch-icon-directbox-notif:before {
  content: "\ea02";
}
.ch-icon-directbox-receive:before {
  content: "\ea03";
}
.ch-icon-directbox-send:before {
  content: "\ea04";
}
.ch-icon-discount-circle:before {
  content: "\ea05";
}
.ch-icon-discount-shape:before {
  content: "\ea06";
}
.ch-icon-discover:before {
  content: "\ea07";
}
.ch-icon-dislike:before {
  content: "\ea08";
}
.ch-icon-document-copy:before {
  content: "\ea09";
}
.ch-icon-document-cloud:before {
  content: "\ea0a";
}
.ch-icon-document-code-2:before {
  content: "\ea0b";
}
.ch-icon-document-code:before {
  content: "\ea0c";
}
.ch-icon-document-copy1:before {
  content: "\ea0d";
}
.ch-icon-document-download:before {
  content: "\ea0e";
}
.ch-icon-document-favorite:before {
  content: "\ea0f";
}
.ch-icon-document-filter:before {
  content: "\ea10";
}
.ch-icon-document-forward:before {
  content: "\ea11";
}
.ch-icon-document-like:before {
  content: "\ea12";
}
.ch-icon-document-normal:before {
  content: "\ea13";
}
.ch-icon-document-previous:before {
  content: "\ea14";
}
.ch-icon-document-sketch:before {
  content: "\ea15";
}
.ch-icon-document-text-1:before {
  content: "\ea16";
}
.ch-icon-document-text:before {
  content: "\ea17";
}
.ch-icon-document-upload:before {
  content: "\ea18";
}
.ch-icon-document:before {
  content: "\ea19";
}
.ch-icon-dollar-circle:before {
  content: "\ea1a";
}
.ch-icon-dollar-square:before {
  content: "\ea1b";
}
.ch-icon-dribbble:before {
  content: "\ea1c";
}
.ch-icon-driver-2:before {
  content: "\ea1d";
}
.ch-icon-driver-refresh:before {
  content: "\ea1e";
}
.ch-icon-driver:before {
  content: "\ea1f";
}
.ch-icon-driving:before {
  content: "\ea20";
}
.ch-icon-drop:before {
  content: "\ea21";
}
.ch-icon-dropbox:before {
  content: "\ea22";
}
.ch-icon-edit-2:before {
  content: "\ea23";
}
.ch-icon-edit:before {
  content: "\ea24";
}
.ch-icon-educare-ekt:before {
  content: "\ea25";
}
.ch-icon-electricity:before {
  content: "\ea26";
}
.ch-icon-element-1:before {
  content: "\ea27";
}
.ch-icon-element-2:before {
  content: "\ea28";
}
.ch-icon-element-3:before {
  content: "\ea29";
}
.ch-icon-element-4:before {
  content: "\ea2a";
}
.ch-icon-element-equal:before {
  content: "\ea2b";
}
.ch-icon-element-plus:before {
  content: "\ea2c";
}
.ch-icon-emercoin-emc:before {
  content: "\ea2d";
}
.ch-icon-empty-wallet-add:before {
  content: "\ea2e";
}
.ch-icon-empty-wallet-change:before {
  content: "\ea2f";
}
.ch-icon-empty-wallet-remove:before {
  content: "\ea30";
}
.ch-icon-empty-wallet-tick:before {
  content: "\ea31";
}
.ch-icon-empty-wallet-time:before {
  content: "\ea32";
}
.ch-icon-empty-wallet:before {
  content: "\ea33";
}
.ch-icon-enjin-coin-enj:before {
  content: "\ea34";
}
.ch-icon-eos-eos:before {
  content: "\ea35";
}
.ch-icon-eraser-1:before {
  content: "\ea36";
}
.ch-icon-eraser-2:before {
  content: "\ea37";
}
.ch-icon-eraser:before {
  content: "\ea38";
}
.ch-icon-ethereum-eth:before {
  content: "\ea39";
}
.ch-icon-ethereum-classic-etc:before {
  content: "\ea3a";
}
.ch-icon-export-1:before {
  content: "\ea3b";
}
.ch-icon-export-2:before {
  content: "\ea3c";
}
.ch-icon-export-3:before {
  content: "\ea3d";
}
.ch-icon-export:before {
  content: "\ea3e";
}
.ch-icon-external-drive:before {
  content: "\ea3f";
}
.ch-icon-eye-slash:before {
  content: "\ea40";
}
.ch-icon-eye:before {
  content: "\ea41";
}
.ch-icon-facebook:before {
  content: "\ea42";
}
.ch-icon-fatrows:before {
  content: "\ea43";
}
.ch-icon-favorite-chart:before {
  content: "\ea44";
}
.ch-icon-figma-1:before {
  content: "\ea45";
}
.ch-icon-figma:before {
  content: "\ea46";
}
.ch-icon-finger-cricle:before {
  content: "\ea47";
}
.ch-icon-finger-scan:before {
  content: "\ea48";
}
.ch-icon-firstline:before {
  content: "\ea49";
}
.ch-icon-flash-circle-1:before {
  content: "\ea4a";
}
.ch-icon-flash-circle:before {
  content: "\ea4b";
}
.ch-icon-flash:before {
  content: "\ea4c";
}
.ch-icon-folder-2:before {
  content: "\ea4d";
}
.ch-icon-folder-add:before {
  content: "\ea4e";
}
.ch-icon-folder-cloud:before {
  content: "\ea4f";
}
.ch-icon-folder-connection:before {
  content: "\ea50";
}
.ch-icon-folder-cross:before {
  content: "\ea51";
}
.ch-icon-folder-favorite:before {
  content: "\ea52";
}
.ch-icon-folder-minus:before {
  content: "\ea53";
}
.ch-icon-folder-open:before {
  content: "\ea54";
}
.ch-icon-folder:before {
  content: "\ea55";
}
.ch-icon-format-circle:before {
  content: "\ea56";
}
.ch-icon-format-square:before {
  content: "\ea57";
}
.ch-icon-forward-5-seconds:before {
  content: "\ea58";
}
.ch-icon-forward-10-seconds:before {
  content: "\ea59";
}
.ch-icon-forward-15-seconds:before {
  content: "\ea5a";
}
.ch-icon-forward-item-1:before {
  content: "\ea5b";
}
.ch-icon-forward-item:before {
  content: "\ea5c";
}
.ch-icon-forward-square:before {
  content: "\ea5d";
}
.ch-icon-forward:before {
  content: "\ea5e";
}
.ch-icon-frame-copy:before {
  content: "\ea5f";
}
.ch-icon-frame-1-copy:before {
  content: "\ea60";
}
.ch-icon-frame-1:before {
  content: "\ea61";
}
.ch-icon-frame-2-copy:before {
  content: "\ea62";
}
.ch-icon-frame-2:before {
  content: "\ea63";
}
.ch-icon-frame-3:before {
  content: "\ea64";
}
.ch-icon-frame-4:before {
  content: "\ea65";
}
.ch-icon-frame:before {
  content: "\ea66";
}
.ch-icon-framer:before {
  content: "\ea67";
}
.ch-icon-ftx-token-ftt:before {
  content: "\ea68";
}
.ch-icon-gallery-add:before {
  content: "\ea69";
}
.ch-icon-gallery-edit:before {
  content: "\ea6a";
}
.ch-icon-gallery-export:before {
  content: "\ea6b";
}
.ch-icon-gallery-favorite:before {
  content: "\ea6c";
}
.ch-icon-gallery-import:before {
  content: "\ea6d";
}
.ch-icon-gallery-remove:before {
  content: "\ea6e";
}
.ch-icon-gallery-slash:before {
  content: "\ea6f";
}
.ch-icon-gallery-tick:before {
  content: "\ea70";
}
.ch-icon-gallery:before {
  content: "\ea71";
}
.ch-icon-game:before {
  content: "\ea72";
}
.ch-icon-gameboy:before {
  content: "\ea73";
}
.ch-icon-gas-station:before {
  content: "\ea74";
}
.ch-icon-gemini-2:before {
  content: "\ea75";
}
.ch-icon-gemini:before {
  content: "\ea76";
}
.ch-icon-gift:before {
  content: "\ea77";
}
.ch-icon-glass:before {
  content: "\ea78";
}
.ch-icon-global-edit:before {
  content: "\ea79";
}
.ch-icon-global-refresh:before {
  content: "\ea7a";
}
.ch-icon-global-search:before {
  content: "\ea7b";
}
.ch-icon-global:before {
  content: "\ea7c";
}
.ch-icon-google-1:before {
  content: "\ea7d";
}
.ch-icon-google-play:before {
  content: "\ea7e";
}
.ch-icon-google:before {
  content: "\ea7f";
}
.ch-icon-gps-slash:before {
  content: "\ea80";
}
.ch-icon-gps:before {
  content: "\ea81";
}
.ch-icon-graph:before {
  content: "\ea82";
}
.ch-icon-grid-1:before {
  content: "\ea83";
}
.ch-icon-grid-2:before {
  content: "\ea84";
}
.ch-icon-grid-3:before {
  content: "\ea85";
}
.ch-icon-grid-4:before {
  content: "\ea86";
}
.ch-icon-grid-5:before {
  content: "\ea87";
}
.ch-icon-grid-6:before {
  content: "\ea88";
}
.ch-icon-grid-7:before {
  content: "\ea89";
}
.ch-icon-grid-8:before {
  content: "\ea8a";
}
.ch-icon-grid-9:before {
  content: "\ea8b";
}
.ch-icon-grid-edit:before {
  content: "\ea8c";
}
.ch-icon-grid-eraser:before {
  content: "\ea8d";
}
.ch-icon-grid-lock:before {
  content: "\ea8e";
}
.ch-icon-group-copy:before {
  content: "\ea8f";
}
.ch-icon-group-1:before {
  content: "\ea90";
}
.ch-icon-group-2:before {
  content: "\ea91";
}
.ch-icon-group-3:before {
  content: "\ea92";
}
.ch-icon-group-4:before {
  content: "\ea93";
}
.ch-icon-group-5:before {
  content: "\ea94";
}
.ch-icon-group-6:before {
  content: "\ea95";
}
.ch-icon-group-7:before {
  content: "\ea96";
}
.ch-icon-group:before {
  content: "\ea97";
}
.ch-icon-harmony-one:before {
  content: "\ea98";
}
.ch-icon-hashtag-1:before {
  content: "\ea99";
}
.ch-icon-hashtag-down:before {
  content: "\ea9a";
}
.ch-icon-hashtag-up:before {
  content: "\ea9b";
}
.ch-icon-hashtag:before {
  content: "\ea9c";
}
.ch-icon-headphone:before {
  content: "\ea9d";
}
.ch-icon-headphones:before {
  content: "\ea9e";
}
.ch-icon-health:before {
  content: "\ea9f";
}
.ch-icon-heart-add:before {
  content: "\eaa0";
}
.ch-icon-heart-circle:before {
  content: "\eaa1";
}
.ch-icon-heart-edit:before {
  content: "\eaa2";
}
.ch-icon-heart-remove:before {
  content: "\eaa3";
}
.ch-icon-heart-search:before {
  content: "\eaa4";
}
.ch-icon-heart-slash:before {
  content: "\eaa5";
}
.ch-icon-heart-tick:before {
  content: "\eaa6";
}
.ch-icon-heart:before {
  content: "\eaa7";
}
.ch-icon-hedera-hashgraph-hbar:before {
  content: "\eaa8";
}
.ch-icon-hex-hex:before {
  content: "\eaa9";
}
.ch-icon-hierarchy-2:before {
  content: "\eaaa";
}
.ch-icon-hierarchy-3:before {
  content: "\eaab";
}
.ch-icon-hierarchy-square-2:before {
  content: "\eaac";
}
.ch-icon-hierarchy-square-3:before {
  content: "\eaad";
}
.ch-icon-hierarchy-square:before {
  content: "\eaae";
}
.ch-icon-hierarchy:before {
  content: "\eaaf";
}
.ch-icon-home-hashtag:before {
  content: "\eab0";
}
.ch-icon-home-trend-down:before {
  content: "\eab1";
}
.ch-icon-home-trend-up:before {
  content: "\eab2";
}
.ch-icon-hospital:before {
  content: "\eab3";
}
.ch-icon-house-2:before {
  content: "\eab4";
}
.ch-icon-house:before {
  content: "\eab5";
}
.ch-icon-html-3:before {
  content: "\eab6";
}
.ch-icon-html-5:before {
  content: "\eab7";
}
.ch-icon-huobi-token-ht:before {
  content: "\eab8";
}
.ch-icon-icon-icx:before {
  content: "\eab9";
}
.ch-icon-illustrator:before {
  content: "\eaba";
}
.ch-icon-image:before {
  content: "\eabb";
}
.ch-icon-import-1:before {
  content: "\eabc";
}
.ch-icon-import-2:before {
  content: "\eabd";
}
.ch-icon-import:before {
  content: "\eabe";
}
.ch-icon-iost-iost:before {
  content: "\eabf";
}
.ch-icon-java-script:before {
  content: "\eac0";
}
.ch-icon-js:before {
  content: "\eac1";
}
.ch-icon-kanban:before {
  content: "\eac2";
}
.ch-icon-key-square:before {
  content: "\eac3";
}
.ch-icon-key:before {
  content: "\eac4";
}
.ch-icon-keyboard-open:before {
  content: "\eac5";
}
.ch-icon-keyboard:before {
  content: "\eac6";
}
.ch-icon-kyber-network-knc:before {
  content: "\eac7";
}
.ch-icon-lamp-charge:before {
  content: "\eac8";
}
.ch-icon-lamp-on:before {
  content: "\eac9";
}
.ch-icon-lamp-slash:before {
  content: "\eaca";
}
.ch-icon-lamp:before {
  content: "\eacb";
}
.ch-icon-language-circle:before {
  content: "\eacc";
}
.ch-icon-language-square:before {
  content: "\eacd";
}
.ch-icon-layer:before {
  content: "\eace";
}
.ch-icon-lifebuoy:before {
  content: "\eacf";
}
.ch-icon-like-1:before {
  content: "\ead0";
}
.ch-icon-like-dislike:before {
  content: "\ead1";
}
.ch-icon-like-shapes:before {
  content: "\ead2";
}
.ch-icon-like-tag:before {
  content: "\ead3";
}
.ch-icon-like:before {
  content: "\ead4";
}
.ch-icon-link-1:before {
  content: "\ead5";
}
.ch-icon-link-2:before {
  content: "\ead6";
}
.ch-icon-link-21:before {
  content: "\ead7";
}
.ch-icon-link-circle:before {
  content: "\ead8";
}
.ch-icon-link-square:before {
  content: "\ead9";
}
.ch-icon-link:before {
  content: "\eada";
}
.ch-icon-litecoinltc:before {
  content: "\eadb";
}
.ch-icon-location-add:before {
  content: "\eadc";
}
.ch-icon-location-cross:before {
  content: "\eadd";
}
.ch-icon-location-minus:before {
  content: "\eade";
}
.ch-icon-location-slash:before {
  content: "\eadf";
}
.ch-icon-location-tick:before {
  content: "\eae0";
}
.ch-icon-location:before {
  content: "\eae1";
}
.ch-icon-lock-1:before {
  content: "\eae2";
}
.ch-icon-lock-circle:before {
  content: "\eae3";
}
.ch-icon-lock-slash:before {
  content: "\eae4";
}
.ch-icon-lock:before {
  content: "\eae5";
}
.ch-icon-login-1:before {
  content: "\eae6";
}
.ch-icon-login:before {
  content: "\eae7";
}
.ch-icon-logout-1:before {
  content: "\eae8";
}
.ch-icon-logout:before {
  content: "\eae9";
}
.ch-icon-lovely:before {
  content: "\eaea";
}
.ch-icon-magic-star:before {
  content: "\eaeb";
}
.ch-icon-magicpen:before {
  content: "\eaec";
}
.ch-icon-main-component-1:before {
  content: "\eaed";
}
.ch-icon-main-component:before {
  content: "\eaee";
}
.ch-icon-maker-mkr:before {
  content: "\eaef";
}
.ch-icon-man:before {
  content: "\eaf0";
}
.ch-icon-map-1:before {
  content: "\eaf1";
}
.ch-icon-map:before {
  content: "\eaf2";
}
.ch-icon-mask-1:before {
  content: "\eaf3";
}
.ch-icon-mask-2:before {
  content: "\eaf4";
}
.ch-icon-mask-3:before {
  content: "\eaf5";
}
.ch-icon-mask:before {
  content: "\eaf6";
}
.ch-icon-math:before {
  content: "\eaf7";
}
.ch-icon-maximize-copy:before {
  content: "\eaf8";
}
.ch-icon-maximize-1:before {
  content: "\eaf9";
}
.ch-icon-maximize-2:before {
  content: "\eafa";
}
.ch-icon-maximize-3:before {
  content: "\eafb";
}
.ch-icon-maximize-4:before {
  content: "\eafc";
}
.ch-icon-maximize-circle:before {
  content: "\eafd";
}
.ch-icon-maximize:before {
  content: "\eafe";
}
.ch-icon-medal-star:before {
  content: "\eaff";
}
.ch-icon-medal:before {
  content: "\eb00";
}
.ch-icon-menu-board:before {
  content: "\eb01";
}
.ch-icon-menu:before {
  content: "\eb02";
}
.ch-icon-message-2:before {
  content: "\eb03";
}
.ch-icon-message-add-1:before {
  content: "\eb04";
}
.ch-icon-message-add:before {
  content: "\eb05";
}
.ch-icon-message-circle:before {
  content: "\eb06";
}
.ch-icon-message-edit:before {
  content: "\eb07";
}
.ch-icon-message-favorite:before {
  content: "\eb08";
}
.ch-icon-message-minus:before {
  content: "\eb09";
}
.ch-icon-message-notif:before {
  content: "\eb0a";
}
.ch-icon-message-programming:before {
  content: "\eb0b";
}
.ch-icon-message-question:before {
  content: "\eb0c";
}
.ch-icon-message-remove:before {
  content: "\eb0d";
}
.ch-icon-message-search:before {
  content: "\eb0e";
}
.ch-icon-message-square:before {
  content: "\eb0f";
}
.ch-icon-message-text-1:before {
  content: "\eb10";
}
.ch-icon-message-text:before {
  content: "\eb11";
}
.ch-icon-message-tick:before {
  content: "\eb12";
}
.ch-icon-message-time:before {
  content: "\eb13";
}
.ch-icon-message:before {
  content: "\eb14";
}
.ch-icon-messages-1:before {
  content: "\eb15";
}
.ch-icon-messages-2:before {
  content: "\eb16";
}
.ch-icon-messages-3:before {
  content: "\eb17";
}
.ch-icon-messages:before {
  content: "\eb18";
}
.ch-icon-messenger:before {
  content: "\eb19";
}
.ch-icon-microphone-2:before {
  content: "\eb1a";
}
.ch-icon-microphone-slash-1:before {
  content: "\eb1b";
}
.ch-icon-microphone-slash:before {
  content: "\eb1c";
}
.ch-icon-microphone:before {
  content: "\eb1d";
}
.ch-icon-microscope:before {
  content: "\eb1e";
}
.ch-icon-mini-music-sqaure:before {
  content: "\eb1f";
}
.ch-icon-mirroring-screen:before {
  content: "\eb20";
}
.ch-icon-mobile-programming:before {
  content: "\eb21";
}
.ch-icon-mobile:before {
  content: "\eb22";
}
.ch-icon-monero-xmr:before {
  content: "\eb23";
}
.ch-icon-money-2:before {
  content: "\eb24";
}
.ch-icon-money-3:before {
  content: "\eb25";
}
.ch-icon-money-4:before {
  content: "\eb26";
}
.ch-icon-money-add:before {
  content: "\eb27";
}
.ch-icon-money-change:before {
  content: "\eb28";
}
.ch-icon-money-forbidden:before {
  content: "\eb29";
}
.ch-icon-money-recive:before {
  content: "\eb2a";
}
.ch-icon-money-remove:before {
  content: "\eb2b";
}
.ch-icon-money-send:before {
  content: "\eb2c";
}
.ch-icon-money-tick:before {
  content: "\eb2d";
}
.ch-icon-money-time:before {
  content: "\eb2e";
}
.ch-icon-money:before {
  content: "\eb2f";
}
.ch-icon-moneys:before {
  content: "\eb30";
}
.ch-icon-monitor-mobbile:before {
  content: "\eb31";
}
.ch-icon-monitor-recorder:before {
  content: "\eb32";
}
.ch-icon-monitor:before {
  content: "\eb33";
}
.ch-icon-moon:before {
  content: "\eb34";
}
.ch-icon-more-1:before {
  content: "\eb35";
}
.ch-icon-more-2:before {
  content: "\eb36";
}
.ch-icon-more:before {
  content: "\eb37";
}
.ch-icon-mouse:before {
  content: "\eb38";
}
.ch-icon-music-circle:before {
  content: "\eb39";
}
.ch-icon-music-dashboard:before {
  content: "\eb3a";
}
.ch-icon-music-filter:before {
  content: "\eb3b";
}
.ch-icon-music-library-2:before {
  content: "\eb3c";
}
.ch-icon-music-play:before {
  content: "\eb3d";
}
.ch-icon-music-playlist:before {
  content: "\eb3e";
}
.ch-icon-music-square-add:before {
  content: "\eb3f";
}
.ch-icon-music-square-remove:before {
  content: "\eb40";
}
.ch-icon-music-square-search:before {
  content: "\eb41";
}
.ch-icon-music-square:before {
  content: "\eb42";
}
.ch-icon-music:before {
  content: "\eb43";
}
.ch-icon-musicnote:before {
  content: "\eb44";
}
.ch-icon-nebulas-nas:before {
  content: "\eb45";
}
.ch-icon-nem-xem:before {
  content: "\eb46";
}
.ch-icon-nexo-nexo:before {
  content: "\eb47";
}
.ch-icon-next:before {
  content: "\eb48";
}
.ch-icon-note-1:before {
  content: "\eb49";
}
.ch-icon-note-2:before {
  content: "\eb4a";
}
.ch-icon-note-21:before {
  content: "\eb4b";
}
.ch-icon-note-add:before {
  content: "\eb4c";
}
.ch-icon-note-favorite:before {
  content: "\eb4d";
}
.ch-icon-note-remove:before {
  content: "\eb4e";
}
.ch-icon-note-square:before {
  content: "\eb4f";
}
.ch-icon-note-text:before {
  content: "\eb50";
}
.ch-icon-note:before {
  content: "\eb51";
}
.ch-icon-notification-1:before {
  content: "\eb52";
}
.ch-icon-notification-bing:before {
  content: "\eb53";
}
.ch-icon-notification-circle:before {
  content: "\eb54";
}
.ch-icon-notification-favorite:before {
  content: "\eb55";
}
.ch-icon-notification-status:before {
  content: "\eb56";
}
.ch-icon-notification:before {
  content: "\eb57";
}
.ch-icon-ocean-protocol-ocean:before {
  content: "\eb58";
}
.ch-icon-okb-okb:before {
  content: "\eb59";
}
.ch-icon-omega-circle-1:before {
  content: "\eb5a";
}
.ch-icon-omega-circle:before {
  content: "\eb5b";
}
.ch-icon-omega-square-1:before {
  content: "\eb5c";
}
.ch-icon-omega-square:before {
  content: "\eb5d";
}
.ch-icon-ontology-ont:before {
  content: "\eb5e";
}
.ch-icon-paintbucket:before {
  content: "\eb5f";
}
.ch-icon-paperclip-2:before {
  content: "\eb60";
}
.ch-icon-paperclip:before {
  content: "\eb61";
}
.ch-icon-password-check:before {
  content: "\eb62";
}
.ch-icon-path-2:before {
  content: "\eb63";
}
.ch-icon-path-square:before {
  content: "\eb64";
}
.ch-icon-path:before {
  content: "\eb65";
}
.ch-icon-pause-circle:before {
  content: "\eb66";
}
.ch-icon-pause:before {
  content: "\eb67";
}
.ch-icon-paypal:before {
  content: "\eb68";
}
.ch-icon-pen-add-1:before {
  content: "\eb69";
}
.ch-icon-pen-add:before {
  content: "\eb6a";
}
.ch-icon-pen-close-1:before {
  content: "\eb6b";
}
.ch-icon-pen-close:before {
  content: "\eb6c";
}
.ch-icon-pen-remove-1:before {
  content: "\eb6d";
}
.ch-icon-pen-remove:before {
  content: "\eb6e";
}
.ch-icon-pen-tool-1:before {
  content: "\eb6f";
}
.ch-icon-pen-tool-2-1:before {
  content: "\eb70";
}
.ch-icon-pen-tool-2:before {
  content: "\eb71";
}
.ch-icon-pen-tool:before {
  content: "\eb72";
}
.ch-icon-people:before {
  content: "\eb73";
}
.ch-icon-percentage-square:before {
  content: "\eb74";
}
.ch-icon-personalcard:before {
  content: "\eb75";
}
.ch-icon-pharagraphspacing:before {
  content: "\eb76";
}
.ch-icon-photoshop:before {
  content: "\eb77";
}
.ch-icon-picture-frame:before {
  content: "\eb78";
}
.ch-icon-play-add:before {
  content: "\eb79";
}
.ch-icon-play-circle:before {
  content: "\eb7a";
}
.ch-icon-play-cricle:before {
  content: "\eb7b";
}
.ch-icon-play-remove:before {
  content: "\eb7c";
}
.ch-icon-play:before {
  content: "\eb7d";
}
.ch-icon-polkadot-dot:before {
  content: "\eb7e";
}
.ch-icon-polygon-matic:before {
  content: "\eb7f";
}
.ch-icon-polyswarm-nct:before {
  content: "\eb80";
}
.ch-icon-presention-chart:before {
  content: "\eb81";
}
.ch-icon-previous:before {
  content: "\eb82";
}
.ch-icon-printer-slash:before {
  content: "\eb83";
}
.ch-icon-printer:before {
  content: "\eb84";
}
.ch-icon-profile-2user:before {
  content: "\eb85";
}
.ch-icon-profile-add:before {
  content: "\eb86";
}
.ch-icon-profile-circle:before {
  content: "\eb87";
}
.ch-icon-profile-delete:before {
  content: "\eb88";
}
.ch-icon-profile-remove:before {
  content: "\eb89";
}
.ch-icon-profile-tick:before {
  content: "\eb8a";
}
.ch-icon-profile:before {
  content: "\eb8b";
}
.ch-icon-programming-arrow:before {
  content: "\eb8c";
}
.ch-icon-programming-arrows:before {
  content: "\eb8d";
}
.ch-icon-python:before {
  content: "\eb8e";
}
.ch-icon-quant-qnt:before {
  content: "\eb8f";
}
.ch-icon-quote-down-circle:before {
  content: "\eb90";
}
.ch-icon-quote-down-square:before {
  content: "\eb91";
}
.ch-icon-quote-down:before {
  content: "\eb92";
}
.ch-icon-quote-up-circle:before {
  content: "\eb93";
}
.ch-icon-quote-up-square:before {
  content: "\eb94";
}
.ch-icon-quote-up:before {
  content: "\eb95";
}
.ch-icon-radar-copy:before {
  content: "\eb96";
}
.ch-icon-radar-2:before {
  content: "\eb97";
}
.ch-icon-radar:before {
  content: "\eb98";
}
.ch-icon-radio:before {
  content: "\eb99";
}
.ch-icon-ram-2:before {
  content: "\eb9a";
}
.ch-icon-ram:before {
  content: "\eb9b";
}
.ch-icon-ranking:before {
  content: "\eb9c";
}
.ch-icon-receipt-1:before {
  content: "\eb9d";
}
.ch-icon-receipt-2-1:before {
  content: "\eb9e";
}
.ch-icon-receipt-2:before {
  content: "\eb9f";
}
.ch-icon-receipt-add:before {
  content: "\eba0";
}
.ch-icon-receipt-discount:before {
  content: "\eba1";
}
.ch-icon-receipt-disscount:before {
  content: "\eba2";
}
.ch-icon-receipt-edit:before {
  content: "\eba3";
}
.ch-icon-receipt-item:before {
  content: "\eba4";
}
.ch-icon-receipt-minus:before {
  content: "\eba5";
}
.ch-icon-receipt-search:before {
  content: "\eba6";
}
.ch-icon-receipt-square:before {
  content: "\eba7";
}
.ch-icon-receipt-text:before {
  content: "\eba8";
}
.ch-icon-receipt:before {
  content: "\eba9";
}
.ch-icon-receive-square-2:before {
  content: "\ebaa";
}
.ch-icon-receive-square:before {
  content: "\ebab";
}
.ch-icon-received:before {
  content: "\ebac";
}
.ch-icon-record-circle:before {
  content: "\ebad";
}
.ch-icon-record:before {
  content: "\ebae";
}
.ch-icon-recovery-convert:before {
  content: "\ebaf";
}
.ch-icon-redo:before {
  content: "\ebb0";
}
.ch-icon-refresh-2:before {
  content: "\ebb1";
}
.ch-icon-refresh-circle:before {
  content: "\ebb2";
}
.ch-icon-refresh-left-square:before {
  content: "\ebb3";
}
.ch-icon-refresh-right-square:before {
  content: "\ebb4";
}
.ch-icon-refresh-square-2:before {
  content: "\ebb5";
}
.ch-icon-refresh:before {
  content: "\ebb6";
}
.ch-icon-repeat-circle:before {
  content: "\ebb7";
}
.ch-icon-repeat:before {
  content: "\ebb8";
}
.ch-icon-repeate-music:before {
  content: "\ebb9";
}
.ch-icon-repeate-one:before {
  content: "\ebba";
}
.ch-icon-rotate-left-copy:before {
  content: "\ebbb";
}
.ch-icon-rotate-left:before {
  content: "\ebbc";
}
.ch-icon-rotate-right-copy:before {
  content: "\ebbd";
}
.ch-icon-rotate-right:before {
  content: "\ebbe";
}
.ch-icon-route-square:before {
  content: "\ebbf";
}
.ch-icon-routing-2:before {
  content: "\ebc0";
}
.ch-icon-routing:before {
  content: "\ebc1";
}
.ch-icon-row-horizontal:before {
  content: "\ebc2";
}
.ch-icon-row-vertical:before {
  content: "\ebc3";
}
.ch-icon-ruler:before {
  content: "\ebc4";
}
.ch-icon-rulerpen:before {
  content: "\ebc5";
}
.ch-icon-sagittarius:before {
  content: "\ebc6";
}
.ch-icon-save-2:before {
  content: "\ebc7";
}
.ch-icon-save-add:before {
  content: "\ebc8";
}
.ch-icon-save-minus:before {
  content: "\ebc9";
}
.ch-icon-save-remove:before {
  content: "\ebca";
}
.ch-icon-scan-barcode:before {
  content: "\ebcb";
}
.ch-icon-scan:before {
  content: "\ebcc";
}
.ch-icon-scanner:before {
  content: "\ebcd";
}
.ch-icon-scanning:before {
  content: "\ebce";
}
.ch-icon-scissor-copy:before {
  content: "\ebcf";
}
.ch-icon-scissor:before {
  content: "\ebd0";
}
.ch-icon-screenmirroring:before {
  content: "\ebd1";
}
.ch-icon-scroll:before {
  content: "\ebd2";
}
.ch-icon-search-favorite-1:before {
  content: "\ebd3";
}
.ch-icon-search-favorite:before {
  content: "\ebd4";
}
.ch-icon-search-normal-1:before {
  content: "\ebd5";
}
.ch-icon-search-normal:before {
  content: "\ebd6";
}
.ch-icon-search-status-1:before {
  content: "\ebd7";
}
.ch-icon-search-status:before {
  content: "\ebd8";
}
.ch-icon-search-zoom-in-1:before {
  content: "\ebd9";
}
.ch-icon-search-zoom-in:before {
  content: "\ebda";
}
.ch-icon-search-zoom-out-1:before {
  content: "\ebdb";
}
.ch-icon-search-zoom-out:before {
  content: "\ebdc";
}
.ch-icon-security-card:before {
  content: "\ebdd";
}
.ch-icon-security-safe:before {
  content: "\ebde";
}
.ch-icon-security-time:before {
  content: "\ebdf";
}
.ch-icon-security-user:before {
  content: "\ebe0";
}
.ch-icon-security:before {
  content: "\ebe1";
}
.ch-icon-send-sqaure-2:before {
  content: "\ebe2";
}
.ch-icon-send-square:before {
  content: "\ebe3";
}
.ch-icon-send:before {
  content: "\ebe4";
}
.ch-icon-setting-2:before {
  content: "\ebe5";
}
.ch-icon-setting-3:before {
  content: "\ebe6";
}
.ch-icon-setting-4:before {
  content: "\ebe7";
}
.ch-icon-setting-5:before {
  content: "\ebe8";
}
.ch-icon-setting:before {
  content: "\ebe9";
}
.ch-icon-settings:before {
  content: "\ebea";
}
.ch-icon-shapes-1:before {
  content: "\ebeb";
}
.ch-icon-shapes-2:before {
  content: "\ebec";
}
.ch-icon-shapes:before {
  content: "\ebed";
}
.ch-icon-shield-cross:before {
  content: "\ebee";
}
.ch-icon-shield-search:before {
  content: "\ebef";
}
.ch-icon-shield-security:before {
  content: "\ebf0";
}
.ch-icon-shield-slash:before {
  content: "\ebf1";
}
.ch-icon-shield-tick:before {
  content: "\ebf2";
}
.ch-icon-shield:before {
  content: "\ebf3";
}
.ch-icon-ship:before {
  content: "\ebf4";
}
.ch-icon-shop-add:before {
  content: "\ebf5";
}
.ch-icon-shop-remove:before {
  content: "\ebf6";
}
.ch-icon-shop:before {
  content: "\ebf7";
}
.ch-icon-shopping-bag:before {
  content: "\ebf8";
}
.ch-icon-shopping-cart:before {
  content: "\ebf9";
}
.ch-icon-siacoin-sc:before {
  content: "\ebfa";
}
.ch-icon-sidebar-bottom:before {
  content: "\ebfb";
}
.ch-icon-sidebar-left:before {
  content: "\ebfc";
}
.ch-icon-sidebar-right:before {
  content: "\ebfd";
}
.ch-icon-sidebar-top:before {
  content: "\ebfe";
}
.ch-icon-simcard-1:before {
  content: "\ebff";
}
.ch-icon-simcard-2:before {
  content: "\ec00";
}
.ch-icon-simcard:before {
  content: "\ec01";
}
.ch-icon-size:before {
  content: "\ec02";
}
.ch-icon-slack:before {
  content: "\ec03";
}
.ch-icon-slider-horizontal-1:before {
  content: "\ec04";
}
.ch-icon-slider-horizontal:before {
  content: "\ec05";
}
.ch-icon-slider-vertical-1:before {
  content: "\ec06";
}
.ch-icon-slider-vertical:before {
  content: "\ec07";
}
.ch-icon-smallcaps:before {
  content: "\ec08";
}
.ch-icon-smart-car:before {
  content: "\ec09";
}
.ch-icon-smileys:before {
  content: "\ec0a";
}
.ch-icon-sms-edit:before {
  content: "\ec0b";
}
.ch-icon-sms-notification:before {
  content: "\ec0c";
}
.ch-icon-sms-search:before {
  content: "\ec0d";
}
.ch-icon-sms-star:before {
  content: "\ec0e";
}
.ch-icon-sms-tracking:before {
  content: "\ec0f";
}
.ch-icon-sms:before {
  content: "\ec10";
}
.ch-icon-snapchat:before {
  content: "\ec11";
}
.ch-icon-solana-sol:before {
  content: "\ec12";
}
.ch-icon-speaker:before {
  content: "\ec13";
}
.ch-icon-spotify:before {
  content: "\ec14";
}
.ch-icon-stacks-stx:before {
  content: "\ec15";
}
.ch-icon-star-1:before {
  content: "\ec16";
}
.ch-icon-star-slash:before {
  content: "\ec17";
}
.ch-icon-star:before {
  content: "\ec18";
}
.ch-icon-status-up:before {
  content: "\ec19";
}
.ch-icon-stellar-xlm:before {
  content: "\ec1a";
}
.ch-icon-stickynote:before {
  content: "\ec1b";
}
.ch-icon-stop-circle:before {
  content: "\ec1c";
}
.ch-icon-stop:before {
  content: "\ec1d";
}
.ch-icon-strongbox-2:before {
  content: "\ec1e";
}
.ch-icon-strongbox:before {
  content: "\ec1f";
}
.ch-icon-subtitle:before {
  content: "\ec20";
}
.ch-icon-sun-1:before {
  content: "\ec21";
}
.ch-icon-sun-fog:before {
  content: "\ec22";
}
.ch-icon-sun:before {
  content: "\ec23";
}
.ch-icon-tag-2:before {
  content: "\ec24";
}
.ch-icon-tag-user:before {
  content: "\ec25";
}
.ch-icon-tag:before {
  content: "\ec26";
}
.ch-icon-task-square:before {
  content: "\ec27";
}
.ch-icon-task:before {
  content: "\ec28";
}
.ch-icon-teacher:before {
  content: "\ec29";
}
.ch-icon-tenx-pay:before {
  content: "\ec2a";
}
.ch-icon-tether-usdt:before {
  content: "\ec2b";
}
.ch-icon-text-block:before {
  content: "\ec2c";
}
.ch-icon-text-bold:before {
  content: "\ec2d";
}
.ch-icon-text-italic:before {
  content: "\ec2e";
}
.ch-icon-text-underline:before {
  content: "\ec2f";
}
.ch-icon-text:before {
  content: "\ec30";
}
.ch-icon-textalign-center:before {
  content: "\ec31";
}
.ch-icon-textalign-justifycenter:before {
  content: "\ec32";
}
.ch-icon-textalign-justifyleft:before {
  content: "\ec33";
}
.ch-icon-textalign-justifyright:before {
  content: "\ec34";
}
.ch-icon-textalign-left:before {
  content: "\ec35";
}
.ch-icon-textalign-right:before {
  content: "\ec36";
}
.ch-icon-the-graph-grt:before {
  content: "\ec37";
}
.ch-icon-theta-theta:before {
  content: "\ec38";
}
.ch-icon-thorchain-rune:before {
  content: "\ec39";
}
.ch-icon-ticket-2:before {
  content: "\ec3a";
}
.ch-icon-ticket-discount:before {
  content: "\ec3b";
}
.ch-icon-ticket-expired:before {
  content: "\ec3c";
}
.ch-icon-ticket-star:before {
  content: "\ec3d";
}
.ch-icon-ticket:before {
  content: "\ec3e";
}
.ch-icon-timer-1:before {
  content: "\ec3f";
}
.ch-icon-timer-pause:before {
  content: "\ec40";
}
.ch-icon-timer-start:before {
  content: "\ec41";
}
.ch-icon-timer:before {
  content: "\ec42";
}
.ch-icon-times:before {
  content: "\ec43";
}
.ch-icon-toggle-off-circle:before {
  content: "\ec44";
}
.ch-icon-toggle-off:before {
  content: "\ec45";
}
.ch-icon-toggle-on-circle:before {
  content: "\ec46";
}
.ch-icon-toggle-on:before {
  content: "\ec47";
}
.ch-icon-trade:before {
  content: "\ec48";
}
.ch-icon-transaction-minus:before {
  content: "\ec49";
}
.ch-icon-translate:before {
  content: "\ec4a";
}
.ch-icon-trello:before {
  content: "\ec4b";
}
.ch-icon-trend-down:before {
  content: "\ec4c";
}
.ch-icon-trend-up:before {
  content: "\ec4d";
}
.ch-icon-triangle:before {
  content: "\ec4e";
}
.ch-icon-trontron-trx:before {
  content: "\ec4f";
}
.ch-icon-truck-remove:before {
  content: "\ec50";
}
.ch-icon-truck-tick:before {
  content: "\ec51";
}
.ch-icon-truck-time:before {
  content: "\ec52";
}
.ch-icon-twitch:before {
  content: "\ec53";
}
.ch-icon-ui8:before {
  content: "\ec54";
}
.ch-icon-undo:before {
  content: "\ec55";
}
.ch-icon-unlimited:before {
  content: "\ec56";
}
.ch-icon-unlock:before {
  content: "\ec57";
}
.ch-icon-usd-coin-usdc:before {
  content: "\ec58";
}
.ch-icon-user-add:before {
  content: "\ec59";
}
.ch-icon-user-cirlce-add:before {
  content: "\ec5a";
}
.ch-icon-user-edit:before {
  content: "\ec5b";
}
.ch-icon-user-minus:before {
  content: "\ec5c";
}
.ch-icon-user-octagon:before {
  content: "\ec5d";
}
.ch-icon-user-remove:before {
  content: "\ec5e";
}
.ch-icon-user-search:before {
  content: "\ec5f";
}
.ch-icon-user-square:before {
  content: "\ec60";
}
.ch-icon-user-tag:before {
  content: "\ec61";
}
.ch-icon-user-tick:before {
  content: "\ec62";
}
.ch-icon-user:before {
  content: "\ec63";
}
.ch-icon-velas-vlx:before {
  content: "\ec64";
}
.ch-icon-vibe-vibe:before {
  content: "\ec65";
}
.ch-icon-video-add:before {
  content: "\ec66";
}
.ch-icon-video-circle:before {
  content: "\ec67";
}
.ch-icon-video-horizontal:before {
  content: "\ec68";
}
.ch-icon-video-octagon:before {
  content: "\ec69";
}
.ch-icon-video-play:before {
  content: "\ec6a";
}
.ch-icon-video-remove:before {
  content: "\ec6b";
}
.ch-icon-video-slash:before {
  content: "\ec6c";
}
.ch-icon-video-square:before {
  content: "\ec6d";
}
.ch-icon-video-tick:before {
  content: "\ec6e";
}
.ch-icon-video-time:before {
  content: "\ec6f";
}
.ch-icon-video-vertical:before {
  content: "\ec70";
}
.ch-icon-video:before {
  content: "\ec71";
}
.ch-icon-voice-cricle:before {
  content: "\ec72";
}
.ch-icon-voice-square:before {
  content: "\ec73";
}
.ch-icon-volume-cross:before {
  content: "\ec74";
}
.ch-icon-volume-high:before {
  content: "\ec75";
}
.ch-icon-volume-low-1:before {
  content: "\ec76";
}
.ch-icon-volume-low:before {
  content: "\ec77";
}
.ch-icon-volume-mute:before {
  content: "\ec78";
}
.ch-icon-volume-slash:before {
  content: "\ec79";
}
.ch-icon-volume-up:before {
  content: "\ec7a";
}
.ch-icon-vuesax:before {
  content: "\ec7b";
}
.ch-icon-wallet-1:before {
  content: "\ec7c";
}
.ch-icon-wallet-2:before {
  content: "\ec7d";
}
.ch-icon-wallet-3:before {
  content: "\ec7e";
}
.ch-icon-wallet-add-1:before {
  content: "\ec7f";
}
.ch-icon-wallet-add:before {
  content: "\ec80";
}
.ch-icon-wallet-check:before {
  content: "\ec81";
}
.ch-icon-wallet-minus:before {
  content: "\ec82";
}
.ch-icon-wallet-money:before {
  content: "\ec83";
}
.ch-icon-wallet-remove:before {
  content: "\ec84";
}
.ch-icon-wallet-search:before {
  content: "\ec85";
}
.ch-icon-wallet:before {
  content: "\ec86";
}
.ch-icon-wanchain-wan-1:before {
  content: "\ec87";
}
.ch-icon-wanchain-wan:before {
  content: "\ec88";
}
.ch-icon-watch-status:before {
  content: "\ec89";
}
.ch-icon-watch:before {
  content: "\ec8a";
}
.ch-icon-weight:before {
  content: "\ec8b";
}
.ch-icon-whatsapp:before {
  content: "\ec8c";
}
.ch-icon-wind-2:before {
  content: "\ec8d";
}
.ch-icon-wind:before {
  content: "\ec8e";
}
.ch-icon-windows:before {
  content: "\ec8f";
}
.ch-icon-wing-wing:before {
  content: "\ec90";
}
.ch-icon-woman:before {
  content: "\ec91";
}
.ch-icon-xd:before {
  content: "\ec92";
}
.ch-icon-xiaomi:before {
  content: "\ec93";
}
.ch-icon-xrp-xrp:before {
  content: "\ec94";
}
.ch-icon-youtube:before {
  content: "\ec95";
}
.ch-icon-zel-zel:before {
  content: "\ec96";
}
.ch-icon-zoom:before {
  content: "\ec97";
}
