@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k55z91') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k55z91') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k55z91##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ch-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ch-icon-arrow-left-2 {
  &:before {
    content: $ch-icon-arrow-left-2; 
  }
}
.ch-icon-arrow-right-2 {
  &:before {
    content: $ch-icon-arrow-right-2; 
  }
}
.ch-icon-redo {
  &:before {
    content: $ch-icon-redo; 
  }
}
.ch-icon-undo {
  &:before {
    content: $ch-icon-undo; 
  }
}
.ch-icon-menu {
  &:before {
    content: $ch-icon-menu; 
  }
}
.ch-icon-arrow-right {
  &:before {
    content: $ch-icon-arrow-right; 
  }
}
.ch-icon-briefcase {
  &:before {
    content: $ch-icon-briefcase; 
  }
}
.ch-icon-empty-wallet {
  &:before {
    content: $ch-icon-empty-wallet; 
  }
}
.ch-icon-location {
  &:before {
    content: $ch-icon-location; 
  }
}
.ch-icon-folder-add {
  &:before {
    content: $ch-icon-folder-add; 
  }
}
.ch-icon-share {
  &:before {
    content: $ch-icon-share; 
  }
}
.ch-icon-add-square {
  &:before {
    content: $ch-icon-add-square; 
  }
}
.ch-icon-minus-square {
  &:before {
    content: $ch-icon-minus-square; 
  }
}
.ch-icon-drag {
  &:before {
    content: $ch-icon-drag;     
    color: #72777b;
  }
}
.ch-icon-trash {
  &:before {
    content: $ch-icon-trash; 
  }
}
.ch-icon-add-circle {
  &:before {
    content: $ch-icon-add-circle; 
  }
}
.ch-icon-slash {
  &:before {
    content: $ch-icon-slash; 
  }
}
.ch-icon-anchor {
  &:before {
    content: $ch-icon-anchor; 
  }
}
.ch-icon-behance {
  &:before {
    content: $ch-icon-behance; 
  }
}
.ch-icon-linkedin {
  &:before {
    content: $ch-icon-linkedin; 
  }
}
.ch-icon-twitter {
  &:before {
    content: $ch-icon-twitter; 
  }
}
.ch-icon-flag {
  &:before {
    content: $ch-icon-flag; 
  }
}
.ch-icon-archive {
  &:before {
    content: $ch-icon-archive; 
  }
}
.ch-icon-arrow-down {
  &:before {
    content: $ch-icon-arrow-down; 
  }
}
.ch-icon-arrow-left {
  &:before {
    content: $ch-icon-arrow-left; 
  }
}
.ch-icon-building-4 {
  &:before {
    content: $ch-icon-building-4; 
  }
}
.ch-icon-calendar {
  &:before {
    content: $ch-icon-calendar; 
  }
}
.ch-icon-clock-1 {
  &:before {
    content: $ch-icon-clock-1; 
  }
}
.ch-icon-copy {
  &:before {
    content: $ch-icon-copy; 
  }
}
.ch-icon-dribble {
  &:before {
    content: $ch-icon-dribble; 
  }
}
.ch-icon-edit-2 {
  &:before {
    content: $ch-icon-edit-2; 
  }
}
.ch-icon-eye {
  &:before {
    content: $ch-icon-eye; 
  }
}
.ch-icon-hierarchy {
  &:before {
    content: $ch-icon-hierarchy; 
  }
}
.ch-icon-lamp-charge {
  &:before {
    content: $ch-icon-lamp-charge; 
  }
}
.ch-icon-message-text-1 {
  &:before {
    content: $ch-icon-message-text-1; 
  }
}
.ch-icon-message {
  &:before {
    content: $ch-icon-message; 
  }
}
.ch-icon-more {
  &:before {
    content: $ch-icon-more;     
    color: #72777b;
  }
}
.ch-icon-paperclip-2 {
  &:before {
    content: $ch-icon-paperclip-2; 
  }
}
.ch-icon-profile-2user {
  &:before {
    content: $ch-icon-profile-2user; 
  }
}
.ch-icon-search-normal-1 {
  &:before {
    content: $ch-icon-search-normal-1; 
  }
}
.ch-icon-sms {
  &:before {
    content: $ch-icon-sms; 
  }
}
.ch-icon-textalign-left {
  &:before {
    content: $ch-icon-textalign-left; 
  }
}
.ch-icon-times {
  &:before {
    content: $ch-icon-times; 
  }
}
.ch-icon-trello {
  &:before {
    content: $ch-icon-trello; 
  }
}
.ch-icon-user-tick {
  &:before {
    content: $ch-icon-user-tick; 
  }
}

