$icomoon-font-family: "crewhrm" !default;
$icomoon-font-path: "fonts" !default;

$ch-icon-filter: "\ec99";
$ch-icon-flag: "\ec98";
$ch-icon-d-cube-scan: "\e900";
$ch-icon-d-rotate: "\e901";
$ch-icon-d-square: "\e902";
$ch-icon-square: "\e903";
$ch-icon-support: "\e904";
$ch-icon-aave-aave: "\e905";
$ch-icon-activity: "\e906";
$ch-icon-additem: "\e907";
$ch-icon-airdrop: "\e908";
$ch-icon-airplane-square: "\e909";
$ch-icon-airplane: "\e90a";
$ch-icon-airpod: "\e90b";
$ch-icon-airpods: "\e90c";
$ch-icon-alarm: "\e90d";
$ch-icon-align-bottom: "\e90e";
$ch-icon-align-horizontally: "\e90f";
$ch-icon-align-left: "\e910";
$ch-icon-align-right: "\e911";
$ch-icon-align-vertically: "\e912";
$ch-icon-android: "\e913";
$ch-icon-ankr-ankr: "\e914";
$ch-icon-apple: "\e915";
$ch-icon-aquarius: "\e916";
$ch-icon-archive-add: "\e917";
$ch-icon-archive-book: "\e918";
$ch-icon-archive-minus: "\e919";
$ch-icon-archive-slash: "\e91a";
$ch-icon-archive-tick: "\e91b";
$ch-icon-archive: "\e91c";
$ch-icon-arrange-circle-2: "\e91d";
$ch-icon-arrange-circle: "\e91e";
$ch-icon-arrange-square-2: "\e91f";
$ch-icon-arrange-square: "\e920";
$ch-icon-arrow-2: "\e921";
$ch-icon-arrow-3: "\e922";
$ch-icon-arrow-bottom: "\e923";
$ch-icon-arrow-circle-down: "\e924";
$ch-icon-arrow-circle-left: "\e925";
$ch-icon-arrow-circle-right: "\e926";
$ch-icon-arrow-down-1: "\e927";
$ch-icon-arrow-down-2: "\e928";
$ch-icon-arrow-down: "\e929";
$ch-icon-arrow-left-1: "\e92a";
$ch-icon-arrow-left-2: "\e92b";
$ch-icon-arrow-left-3: "\e92c";
$ch-icon-arrow-left: "\e92d";
$ch-icon-arrow-right-1: "\e92e";
$ch-icon-arrow-right-2: "\e92f";
$ch-icon-arrow-right-3: "\e930";
$ch-icon-arrow-right: "\e931";
$ch-icon-arrow-square-down: "\e932";
$ch-icon-arrow-square-left: "\e933";
$ch-icon-arrow-square-right: "\e934";
$ch-icon-arrow-square-up: "\e935";
$ch-icon-arrow-square: "\e936";
$ch-icon-arrow-swap-horizontal: "\e937";
$ch-icon-arrow-up-1: "\e938";
$ch-icon-arrow-up-2: "\e939";
$ch-icon-arrow-up-3: "\e93a";
$ch-icon-arrow-up: "\e93b";
$ch-icon-arrow: "\e93c";
$ch-icon-attach-circle: "\e93d";
$ch-icon-attach-square: "\e93e";
$ch-icon-audio-square: "\e93f";
$ch-icon-augur-rep: "\e940";
$ch-icon-autonio-niox: "\e941";
$ch-icon-avalanche-avax: "\e942";
$ch-icon-award: "\e943";
$ch-icon-back-square: "\e944";
$ch-icon-backward-5-seconds: "\e945";
$ch-icon-backward-10-seconds: "\e946";
$ch-icon-backward-15-seconds: "\e947";
$ch-icon-backward-item-1: "\e948";
$ch-icon-backward-item: "\e949";
$ch-icon-backward: "\e94a";
$ch-icon-bag-2: "\e94b";
$ch-icon-bag-cross-1: "\e94c";
$ch-icon-bag-cross: "\e94d";
$ch-icon-bag-happy: "\e94e";
$ch-icon-bag-tick-2: "\e94f";
$ch-icon-bag-tick: "\e950";
$ch-icon-bag-timer: "\e951";
$ch-icon-bag: "\e952";
$ch-icon-bank: "\e953";
$ch-icon-barcode: "\e954";
$ch-icon-be: "\e955";
$ch-icon-bezier-1: "\e956";
$ch-icon-bezier: "\e957";
$ch-icon-bill: "\e958";
$ch-icon-binance-coin-bnb: "\e959";
$ch-icon-binance-usd-busd: "\e95a";
$ch-icon-bitcoin-btc: "\e95b";
$ch-icon-bitcoin-card: "\e95c";
$ch-icon-bitcoin-convert: "\e95d";
$ch-icon-bitcoin-refresh: "\e95e";
$ch-icon-blend-2: "\e95f";
$ch-icon-blend: "\e960";
$ch-icon-blogger: "\e961";
$ch-icon-bluetooth-2: "\e962";
$ch-icon-bluetooth-circle: "\e963";
$ch-icon-bluetooth-rectangle: "\e964";
$ch-icon-bluetooth: "\e965";
$ch-icon-blur-1: "\e966";
$ch-icon-blur: "\e967";
$ch-icon-book-1: "\e968";
$ch-icon-book-saved: "\e969";
$ch-icon-book-square: "\e96a";
$ch-icon-book: "\e96b";
$ch-icon-bookmark-2: "\e96c";
$ch-icon-bookmark: "\e96d";
$ch-icon-bootsrap: "\e96e";
$ch-icon-box-1: "\e96f";
$ch-icon-box-add: "\e970";
$ch-icon-box-remove: "\e971";
$ch-icon-box-search: "\e972";
$ch-icon-box-tick: "\e973";
$ch-icon-box-time: "\e974";
$ch-icon-box: "\e975";
$ch-icon-briefcase: "\e976";
$ch-icon-brifecase-cross: "\e977";
$ch-icon-brifecase-tick: "\e978";
$ch-icon-brifecase-timer: "\e979";
$ch-icon-brush-1: "\e97a";
$ch-icon-brush-2: "\e97b";
$ch-icon-brush-3: "\e97c";
$ch-icon-brush: "\e97d";
$ch-icon-bucket-circle-1: "\e97e";
$ch-icon-bucket-circle: "\e97f";
$ch-icon-bucket-square-1: "\e980";
$ch-icon-bucket-square: "\e981";
$ch-icon-building-3: "\e982";
$ch-icon-building-4: "\e983";
$ch-icon-building: "\e984";
$ch-icon-buildings-2: "\e985";
$ch-icon-buildings: "\e986";
$ch-icon-buliding: "\e987";
$ch-icon-bus: "\e988";
$ch-icon-buy-crypto: "\e989";
$ch-icon-calculator: "\e98a";
$ch-icon-calendar-1: "\e98b";
$ch-icon-calendar-2: "\e98c";
$ch-icon-calendar-add: "\e98d";
$ch-icon-calendar-circle: "\e98e";
$ch-icon-calendar-edit: "\e98f";
$ch-icon-calendar-remove: "\e990";
$ch-icon-calendar-search: "\e991";
$ch-icon-calendar-tick: "\e992";
$ch-icon-calendar: "\e993";
$ch-icon-call-add: "\e994";
$ch-icon-call-calling: "\e995";
$ch-icon-call-incoming: "\e996";
$ch-icon-call-minus: "\e997";
$ch-icon-call-outgoing: "\e998";
$ch-icon-call-received: "\e999";
$ch-icon-call-remove: "\e99a";
$ch-icon-call-slash: "\e99b";
$ch-icon-call: "\e99c";
$ch-icon-camera-slash: "\e99d";
$ch-icon-camera: "\e99e";
$ch-icon-candle-2: "\e99f";
$ch-icon-candle: "\e9a0";
$ch-icon-car: "\e9a1";
$ch-icon-card-add: "\e9a2";
$ch-icon-card-coin: "\e9a3";
$ch-icon-card-edit: "\e9a4";
$ch-icon-card-pos: "\e9a5";
$ch-icon-card-receive: "\e9a6";
$ch-icon-card-remove-1: "\e9a7";
$ch-icon-card-remove: "\e9a8";
$ch-icon-card-send: "\e9a9";
$ch-icon-card-slash: "\e9aa";
$ch-icon-card-tick-1: "\e9ab";
$ch-icon-card-tick: "\e9ac";
$ch-icon-card: "\e9ad";
$ch-icon-cardano-ada: "\e9ae";
$ch-icon-cards: "\e9af";
$ch-icon-category-2: "\e9b0";
$ch-icon-category: "\e9b1";
$ch-icon-celo-celo: "\e9b2";
$ch-icon-celsius-cel: "\e9b3";
$ch-icon-chainlink-link: "\e9b4";
$ch-icon-chart-1: "\e9b5";
$ch-icon-chart-2: "\e9b6";
$ch-icon-chart-21: "\e9b7";
$ch-icon-chart-square: "\e9b8";
$ch-icon-chart-success: "\e9b9";
$ch-icon-chart: "\e9ba";
$ch-icon-check: "\e9bb";
$ch-icon-civic-cvc: "\e9bc";
$ch-icon-clipboard-close: "\e9bd";
$ch-icon-clipboard-export: "\e9be";
$ch-icon-clipboard-import: "\e9bf";
$ch-icon-clipboard-text: "\e9c0";
$ch-icon-clipboard-tick: "\e9c1";
$ch-icon-clipboard: "\e9c2";
$ch-icon-clock-1: "\e9c3";
$ch-icon-clock: "\e9c4";
$ch-icon-cloud-add: "\e9c5";
$ch-icon-cloud-change: "\e9c6";
$ch-icon-cloud-connection: "\e9c7";
$ch-icon-cloud-cross: "\e9c8";
$ch-icon-cloud-drizzle: "\e9c9";
$ch-icon-cloud-fog: "\e9ca";
$ch-icon-cloud-lightning: "\e9cb";
$ch-icon-cloud-minus: "\e9cc";
$ch-icon-cloud-notif: "\e9cd";
$ch-icon-cloud-plus: "\e9ce";
$ch-icon-cloud-remove: "\e9cf";
$ch-icon-cloud-snow: "\e9d0";
$ch-icon-cloud-sunny: "\e9d1";
$ch-icon-cloud: "\e9d2";
$ch-icon-code-1: "\e9d3";
$ch-icon-code-circle: "\e9d4";
$ch-icon-code: "\e9d5";
$ch-icon-coin-1: "\e9d6";
$ch-icon-coin: "\e9d7";
$ch-icon-color-swatch: "\e9d8";
$ch-icon-colorfilter: "\e9d9";
$ch-icon-colors-square-1: "\e9da";
$ch-icon-colors-square: "\e9db";
$ch-icon-command-square: "\e9dc";
$ch-icon-command: "\e9dd";
$ch-icon-component-1: "\e9de";
$ch-icon-component: "\e9df";
$ch-icon-convert-3d-cube: "\e9e0";
$ch-icon-convert: "\e9e1";
$ch-icon-convertshape-2: "\e9e2";
$ch-icon-convertshape: "\e9e3";
$ch-icon-copy-success: "\e9e4";
$ch-icon-copy: "\e9e5";
$ch-icon-copyright: "\e9e6";
$ch-icon-courthouse: "\e9e7";
$ch-icon-cpu-charge: "\e9e8";
$ch-icon-cpu-setting: "\e9e9";
$ch-icon-cpu: "\e9ea";
$ch-icon-creative-commons: "\e9eb";
$ch-icon-crop: "\e9ec";
$ch-icon-dai-dai: "\e9ed";
$ch-icon-dash-dash: "\e9ee";
$ch-icon-data-2: "\e9ef";
$ch-icon-data: "\e9f0";
$ch-icon-decred-dcr: "\e9f1";
$ch-icon-dent-dent: "\e9f2";
$ch-icon-designtools: "\e9f3";
$ch-icon-device-message: "\e9f4";
$ch-icon-devices-1: "\e9f5";
$ch-icon-devices: "\e9f6";
$ch-icon-diagram: "\e9f7";
$ch-icon-direct-down: "\e9f8";
$ch-icon-direct-inbox: "\e9f9";
$ch-icon-direct-left: "\e9fa";
$ch-icon-direct-normal: "\e9fb";
$ch-icon-direct-notification: "\e9fc";
$ch-icon-direct-right: "\e9fd";
$ch-icon-direct-send: "\e9fe";
$ch-icon-direct-up: "\e9ff";
$ch-icon-direct: "\ea00";
$ch-icon-directbox-default: "\ea01";
$ch-icon-directbox-notif: "\ea02";
$ch-icon-directbox-receive: "\ea03";
$ch-icon-directbox-send: "\ea04";
$ch-icon-discount-circle: "\ea05";
$ch-icon-discount-shape: "\ea06";
$ch-icon-discover: "\ea07";
$ch-icon-dislike: "\ea08";
$ch-icon-document-copy: "\ea09";
$ch-icon-document-cloud: "\ea0a";
$ch-icon-document-code-2: "\ea0b";
$ch-icon-document-code: "\ea0c";
$ch-icon-document-copy1: "\ea0d";
$ch-icon-document-download: "\ea0e";
$ch-icon-document-favorite: "\ea0f";
$ch-icon-document-filter: "\ea10";
$ch-icon-document-forward: "\ea11";
$ch-icon-document-like: "\ea12";
$ch-icon-document-normal: "\ea13";
$ch-icon-document-previous: "\ea14";
$ch-icon-document-sketch: "\ea15";
$ch-icon-document-text-1: "\ea16";
$ch-icon-document-text: "\ea17";
$ch-icon-document-upload: "\ea18";
$ch-icon-document: "\ea19";
$ch-icon-dollar-circle: "\ea1a";
$ch-icon-dollar-square: "\ea1b";
$ch-icon-dribbble: "\ea1c";
$ch-icon-driver-2: "\ea1d";
$ch-icon-driver-refresh: "\ea1e";
$ch-icon-driver: "\ea1f";
$ch-icon-driving: "\ea20";
$ch-icon-drop: "\ea21";
$ch-icon-dropbox: "\ea22";
$ch-icon-edit-2: "\ea23";
$ch-icon-edit: "\ea24";
$ch-icon-educare-ekt: "\ea25";
$ch-icon-electricity: "\ea26";
$ch-icon-element-1: "\ea27";
$ch-icon-element-2: "\ea28";
$ch-icon-element-3: "\ea29";
$ch-icon-element-4: "\ea2a";
$ch-icon-element-equal: "\ea2b";
$ch-icon-element-plus: "\ea2c";
$ch-icon-emercoin-emc: "\ea2d";
$ch-icon-empty-wallet-add: "\ea2e";
$ch-icon-empty-wallet-change: "\ea2f";
$ch-icon-empty-wallet-remove: "\ea30";
$ch-icon-empty-wallet-tick: "\ea31";
$ch-icon-empty-wallet-time: "\ea32";
$ch-icon-empty-wallet: "\ea33";
$ch-icon-enjin-coin-enj: "\ea34";
$ch-icon-eos-eos: "\ea35";
$ch-icon-eraser-1: "\ea36";
$ch-icon-eraser-2: "\ea37";
$ch-icon-eraser: "\ea38";
$ch-icon-ethereum-eth: "\ea39";
$ch-icon-ethereum-classic-etc: "\ea3a";
$ch-icon-export-1: "\ea3b";
$ch-icon-export-2: "\ea3c";
$ch-icon-export-3: "\ea3d";
$ch-icon-export: "\ea3e";
$ch-icon-external-drive: "\ea3f";
$ch-icon-eye-slash: "\ea40";
$ch-icon-eye: "\ea41";
$ch-icon-facebook: "\ea42";
$ch-icon-fatrows: "\ea43";
$ch-icon-favorite-chart: "\ea44";
$ch-icon-figma-1: "\ea45";
$ch-icon-figma: "\ea46";
$ch-icon-finger-cricle: "\ea47";
$ch-icon-finger-scan: "\ea48";
$ch-icon-firstline: "\ea49";
$ch-icon-flash-circle-1: "\ea4a";
$ch-icon-flash-circle: "\ea4b";
$ch-icon-flash: "\ea4c";
$ch-icon-folder-2: "\ea4d";
$ch-icon-folder-add: "\ea4e";
$ch-icon-folder-cloud: "\ea4f";
$ch-icon-folder-connection: "\ea50";
$ch-icon-folder-cross: "\ea51";
$ch-icon-folder-favorite: "\ea52";
$ch-icon-folder-minus: "\ea53";
$ch-icon-folder-open: "\ea54";
$ch-icon-folder: "\ea55";
$ch-icon-format-circle: "\ea56";
$ch-icon-format-square: "\ea57";
$ch-icon-forward-5-seconds: "\ea58";
$ch-icon-forward-10-seconds: "\ea59";
$ch-icon-forward-15-seconds: "\ea5a";
$ch-icon-forward-item-1: "\ea5b";
$ch-icon-forward-item: "\ea5c";
$ch-icon-forward-square: "\ea5d";
$ch-icon-forward: "\ea5e";
$ch-icon-frame-copy: "\ea5f";
$ch-icon-frame-1-copy: "\ea60";
$ch-icon-frame-1: "\ea61";
$ch-icon-frame-2-copy: "\ea62";
$ch-icon-frame-2: "\ea63";
$ch-icon-frame-3: "\ea64";
$ch-icon-frame-4: "\ea65";
$ch-icon-frame: "\ea66";
$ch-icon-framer: "\ea67";
$ch-icon-ftx-token-ftt: "\ea68";
$ch-icon-gallery-add: "\ea69";
$ch-icon-gallery-edit: "\ea6a";
$ch-icon-gallery-export: "\ea6b";
$ch-icon-gallery-favorite: "\ea6c";
$ch-icon-gallery-import: "\ea6d";
$ch-icon-gallery-remove: "\ea6e";
$ch-icon-gallery-slash: "\ea6f";
$ch-icon-gallery-tick: "\ea70";
$ch-icon-gallery: "\ea71";
$ch-icon-game: "\ea72";
$ch-icon-gameboy: "\ea73";
$ch-icon-gas-station: "\ea74";
$ch-icon-gemini-2: "\ea75";
$ch-icon-gemini: "\ea76";
$ch-icon-gift: "\ea77";
$ch-icon-glass: "\ea78";
$ch-icon-global-edit: "\ea79";
$ch-icon-global-refresh: "\ea7a";
$ch-icon-global-search: "\ea7b";
$ch-icon-global: "\ea7c";
$ch-icon-google-1: "\ea7d";
$ch-icon-google-play: "\ea7e";
$ch-icon-google: "\ea7f";
$ch-icon-gps-slash: "\ea80";
$ch-icon-gps: "\ea81";
$ch-icon-graph: "\ea82";
$ch-icon-grid-1: "\ea83";
$ch-icon-grid-2: "\ea84";
$ch-icon-grid-3: "\ea85";
$ch-icon-grid-4: "\ea86";
$ch-icon-grid-5: "\ea87";
$ch-icon-grid-6: "\ea88";
$ch-icon-grid-7: "\ea89";
$ch-icon-grid-8: "\ea8a";
$ch-icon-grid-9: "\ea8b";
$ch-icon-grid-edit: "\ea8c";
$ch-icon-grid-eraser: "\ea8d";
$ch-icon-grid-lock: "\ea8e";
$ch-icon-group-copy: "\ea8f";
$ch-icon-group-1: "\ea90";
$ch-icon-group-2: "\ea91";
$ch-icon-group-3: "\ea92";
$ch-icon-group-4: "\ea93";
$ch-icon-group-5: "\ea94";
$ch-icon-group-6: "\ea95";
$ch-icon-group-7: "\ea96";
$ch-icon-group: "\ea97";
$ch-icon-harmony-one: "\ea98";
$ch-icon-hashtag-1: "\ea99";
$ch-icon-hashtag-down: "\ea9a";
$ch-icon-hashtag-up: "\ea9b";
$ch-icon-hashtag: "\ea9c";
$ch-icon-headphone: "\ea9d";
$ch-icon-headphones: "\ea9e";
$ch-icon-health: "\ea9f";
$ch-icon-heart-add: "\eaa0";
$ch-icon-heart-circle: "\eaa1";
$ch-icon-heart-edit: "\eaa2";
$ch-icon-heart-remove: "\eaa3";
$ch-icon-heart-search: "\eaa4";
$ch-icon-heart-slash: "\eaa5";
$ch-icon-heart-tick: "\eaa6";
$ch-icon-heart: "\eaa7";
$ch-icon-hedera-hashgraph-hbar: "\eaa8";
$ch-icon-hex-hex: "\eaa9";
$ch-icon-hierarchy-2: "\eaaa";
$ch-icon-hierarchy-3: "\eaab";
$ch-icon-hierarchy-square-2: "\eaac";
$ch-icon-hierarchy-square-3: "\eaad";
$ch-icon-hierarchy-square: "\eaae";
$ch-icon-hierarchy: "\eaaf";
$ch-icon-home-hashtag: "\eab0";
$ch-icon-home-trend-down: "\eab1";
$ch-icon-home-trend-up: "\eab2";
$ch-icon-hospital: "\eab3";
$ch-icon-house-2: "\eab4";
$ch-icon-house: "\eab5";
$ch-icon-html-3: "\eab6";
$ch-icon-html-5: "\eab7";
$ch-icon-huobi-token-ht: "\eab8";
$ch-icon-icon-icx: "\eab9";
$ch-icon-illustrator: "\eaba";
$ch-icon-image: "\eabb";
$ch-icon-import-1: "\eabc";
$ch-icon-import-2: "\eabd";
$ch-icon-import: "\eabe";
$ch-icon-iost-iost: "\eabf";
$ch-icon-java-script: "\eac0";
$ch-icon-js: "\eac1";
$ch-icon-kanban: "\eac2";
$ch-icon-key-square: "\eac3";
$ch-icon-key: "\eac4";
$ch-icon-keyboard-open: "\eac5";
$ch-icon-keyboard: "\eac6";
$ch-icon-kyber-network-knc: "\eac7";
$ch-icon-lamp-charge: "\eac8";
$ch-icon-lamp-on: "\eac9";
$ch-icon-lamp-slash: "\eaca";
$ch-icon-lamp: "\eacb";
$ch-icon-language-circle: "\eacc";
$ch-icon-language-square: "\eacd";
$ch-icon-layer: "\eace";
$ch-icon-lifebuoy: "\eacf";
$ch-icon-like-1: "\ead0";
$ch-icon-like-dislike: "\ead1";
$ch-icon-like-shapes: "\ead2";
$ch-icon-like-tag: "\ead3";
$ch-icon-like: "\ead4";
$ch-icon-link-1: "\ead5";
$ch-icon-link-2: "\ead6";
$ch-icon-link-21: "\ead7";
$ch-icon-link-circle: "\ead8";
$ch-icon-link-square: "\ead9";
$ch-icon-link: "\eada";
$ch-icon-litecoinltc: "\eadb";
$ch-icon-location-add: "\eadc";
$ch-icon-location-cross: "\eadd";
$ch-icon-location-minus: "\eade";
$ch-icon-location-slash: "\eadf";
$ch-icon-location-tick: "\eae0";
$ch-icon-location: "\eae1";
$ch-icon-lock-1: "\eae2";
$ch-icon-lock-circle: "\eae3";
$ch-icon-lock-slash: "\eae4";
$ch-icon-lock: "\eae5";
$ch-icon-login-1: "\eae6";
$ch-icon-login: "\eae7";
$ch-icon-logout-1: "\eae8";
$ch-icon-logout: "\eae9";
$ch-icon-lovely: "\eaea";
$ch-icon-magic-star: "\eaeb";
$ch-icon-magicpen: "\eaec";
$ch-icon-main-component-1: "\eaed";
$ch-icon-main-component: "\eaee";
$ch-icon-maker-mkr: "\eaef";
$ch-icon-man: "\eaf0";
$ch-icon-map-1: "\eaf1";
$ch-icon-map: "\eaf2";
$ch-icon-mask-1: "\eaf3";
$ch-icon-mask-2: "\eaf4";
$ch-icon-mask-3: "\eaf5";
$ch-icon-mask: "\eaf6";
$ch-icon-math: "\eaf7";
$ch-icon-maximize-copy: "\eaf8";
$ch-icon-maximize-1: "\eaf9";
$ch-icon-maximize-2: "\eafa";
$ch-icon-maximize-3: "\eafb";
$ch-icon-maximize-4: "\eafc";
$ch-icon-maximize-circle: "\eafd";
$ch-icon-maximize: "\eafe";
$ch-icon-medal-star: "\eaff";
$ch-icon-medal: "\eb00";
$ch-icon-menu-board: "\eb01";
$ch-icon-menu: "\eb02";
$ch-icon-message-2: "\eb03";
$ch-icon-message-add-1: "\eb04";
$ch-icon-message-add: "\eb05";
$ch-icon-message-circle: "\eb06";
$ch-icon-message-edit: "\eb07";
$ch-icon-message-favorite: "\eb08";
$ch-icon-message-minus: "\eb09";
$ch-icon-message-notif: "\eb0a";
$ch-icon-message-programming: "\eb0b";
$ch-icon-message-question: "\eb0c";
$ch-icon-message-remove: "\eb0d";
$ch-icon-message-search: "\eb0e";
$ch-icon-message-square: "\eb0f";
$ch-icon-message-text-1: "\eb10";
$ch-icon-message-text: "\eb11";
$ch-icon-message-tick: "\eb12";
$ch-icon-message-time: "\eb13";
$ch-icon-message: "\eb14";
$ch-icon-messages-1: "\eb15";
$ch-icon-messages-2: "\eb16";
$ch-icon-messages-3: "\eb17";
$ch-icon-messages: "\eb18";
$ch-icon-messenger: "\eb19";
$ch-icon-microphone-2: "\eb1a";
$ch-icon-microphone-slash-1: "\eb1b";
$ch-icon-microphone-slash: "\eb1c";
$ch-icon-microphone: "\eb1d";
$ch-icon-microscope: "\eb1e";
$ch-icon-mini-music-sqaure: "\eb1f";
$ch-icon-mirroring-screen: "\eb20";
$ch-icon-mobile-programming: "\eb21";
$ch-icon-mobile: "\eb22";
$ch-icon-monero-xmr: "\eb23";
$ch-icon-money-2: "\eb24";
$ch-icon-money-3: "\eb25";
$ch-icon-money-4: "\eb26";
$ch-icon-money-add: "\eb27";
$ch-icon-money-change: "\eb28";
$ch-icon-money-forbidden: "\eb29";
$ch-icon-money-recive: "\eb2a";
$ch-icon-money-remove: "\eb2b";
$ch-icon-money-send: "\eb2c";
$ch-icon-money-tick: "\eb2d";
$ch-icon-money-time: "\eb2e";
$ch-icon-money: "\eb2f";
$ch-icon-moneys: "\eb30";
$ch-icon-monitor-mobbile: "\eb31";
$ch-icon-monitor-recorder: "\eb32";
$ch-icon-monitor: "\eb33";
$ch-icon-moon: "\eb34";
$ch-icon-more-1: "\eb35";
$ch-icon-more-2: "\eb36";
$ch-icon-more: "\eb37";
$ch-icon-mouse: "\eb38";
$ch-icon-music-circle: "\eb39";
$ch-icon-music-dashboard: "\eb3a";
$ch-icon-music-filter: "\eb3b";
$ch-icon-music-library-2: "\eb3c";
$ch-icon-music-play: "\eb3d";
$ch-icon-music-playlist: "\eb3e";
$ch-icon-music-square-add: "\eb3f";
$ch-icon-music-square-remove: "\eb40";
$ch-icon-music-square-search: "\eb41";
$ch-icon-music-square: "\eb42";
$ch-icon-music: "\eb43";
$ch-icon-musicnote: "\eb44";
$ch-icon-nebulas-nas: "\eb45";
$ch-icon-nem-xem: "\eb46";
$ch-icon-nexo-nexo: "\eb47";
$ch-icon-next: "\eb48";
$ch-icon-note-1: "\eb49";
$ch-icon-note-2: "\eb4a";
$ch-icon-note-21: "\eb4b";
$ch-icon-note-add: "\eb4c";
$ch-icon-note-favorite: "\eb4d";
$ch-icon-note-remove: "\eb4e";
$ch-icon-note-square: "\eb4f";
$ch-icon-note-text: "\eb50";
$ch-icon-note: "\eb51";
$ch-icon-notification-1: "\eb52";
$ch-icon-notification-bing: "\eb53";
$ch-icon-notification-circle: "\eb54";
$ch-icon-notification-favorite: "\eb55";
$ch-icon-notification-status: "\eb56";
$ch-icon-notification: "\eb57";
$ch-icon-ocean-protocol-ocean: "\eb58";
$ch-icon-okb-okb: "\eb59";
$ch-icon-omega-circle-1: "\eb5a";
$ch-icon-omega-circle: "\eb5b";
$ch-icon-omega-square-1: "\eb5c";
$ch-icon-omega-square: "\eb5d";
$ch-icon-ontology-ont: "\eb5e";
$ch-icon-paintbucket: "\eb5f";
$ch-icon-paperclip-2: "\eb60";
$ch-icon-paperclip: "\eb61";
$ch-icon-password-check: "\eb62";
$ch-icon-path-2: "\eb63";
$ch-icon-path-square: "\eb64";
$ch-icon-path: "\eb65";
$ch-icon-pause-circle: "\eb66";
$ch-icon-pause: "\eb67";
$ch-icon-paypal: "\eb68";
$ch-icon-pen-add-1: "\eb69";
$ch-icon-pen-add: "\eb6a";
$ch-icon-pen-close-1: "\eb6b";
$ch-icon-pen-close: "\eb6c";
$ch-icon-pen-remove-1: "\eb6d";
$ch-icon-pen-remove: "\eb6e";
$ch-icon-pen-tool-1: "\eb6f";
$ch-icon-pen-tool-2-1: "\eb70";
$ch-icon-pen-tool-2: "\eb71";
$ch-icon-pen-tool: "\eb72";
$ch-icon-people: "\eb73";
$ch-icon-percentage-square: "\eb74";
$ch-icon-personalcard: "\eb75";
$ch-icon-pharagraphspacing: "\eb76";
$ch-icon-photoshop: "\eb77";
$ch-icon-picture-frame: "\eb78";
$ch-icon-play-add: "\eb79";
$ch-icon-play-circle: "\eb7a";
$ch-icon-play-cricle: "\eb7b";
$ch-icon-play-remove: "\eb7c";
$ch-icon-play: "\eb7d";
$ch-icon-polkadot-dot: "\eb7e";
$ch-icon-polygon-matic: "\eb7f";
$ch-icon-polyswarm-nct: "\eb80";
$ch-icon-presention-chart: "\eb81";
$ch-icon-previous: "\eb82";
$ch-icon-printer-slash: "\eb83";
$ch-icon-printer: "\eb84";
$ch-icon-profile-2user: "\eb85";
$ch-icon-profile-add: "\eb86";
$ch-icon-profile-circle: "\eb87";
$ch-icon-profile-delete: "\eb88";
$ch-icon-profile-remove: "\eb89";
$ch-icon-profile-tick: "\eb8a";
$ch-icon-profile: "\eb8b";
$ch-icon-programming-arrow: "\eb8c";
$ch-icon-programming-arrows: "\eb8d";
$ch-icon-python: "\eb8e";
$ch-icon-quant-qnt: "\eb8f";
$ch-icon-quote-down-circle: "\eb90";
$ch-icon-quote-down-square: "\eb91";
$ch-icon-quote-down: "\eb92";
$ch-icon-quote-up-circle: "\eb93";
$ch-icon-quote-up-square: "\eb94";
$ch-icon-quote-up: "\eb95";
$ch-icon-radar-copy: "\eb96";
$ch-icon-radar-2: "\eb97";
$ch-icon-radar: "\eb98";
$ch-icon-radio: "\eb99";
$ch-icon-ram-2: "\eb9a";
$ch-icon-ram: "\eb9b";
$ch-icon-ranking: "\eb9c";
$ch-icon-receipt-1: "\eb9d";
$ch-icon-receipt-2-1: "\eb9e";
$ch-icon-receipt-2: "\eb9f";
$ch-icon-receipt-add: "\eba0";
$ch-icon-receipt-discount: "\eba1";
$ch-icon-receipt-disscount: "\eba2";
$ch-icon-receipt-edit: "\eba3";
$ch-icon-receipt-item: "\eba4";
$ch-icon-receipt-minus: "\eba5";
$ch-icon-receipt-search: "\eba6";
$ch-icon-receipt-square: "\eba7";
$ch-icon-receipt-text: "\eba8";
$ch-icon-receipt: "\eba9";
$ch-icon-receive-square-2: "\ebaa";
$ch-icon-receive-square: "\ebab";
$ch-icon-received: "\ebac";
$ch-icon-record-circle: "\ebad";
$ch-icon-record: "\ebae";
$ch-icon-recovery-convert: "\ebaf";
$ch-icon-redo: "\ebb0";
$ch-icon-refresh-2: "\ebb1";
$ch-icon-refresh-circle: "\ebb2";
$ch-icon-refresh-left-square: "\ebb3";
$ch-icon-refresh-right-square: "\ebb4";
$ch-icon-refresh-square-2: "\ebb5";
$ch-icon-refresh: "\ebb6";
$ch-icon-repeat-circle: "\ebb7";
$ch-icon-repeat: "\ebb8";
$ch-icon-repeate-music: "\ebb9";
$ch-icon-repeate-one: "\ebba";
$ch-icon-rotate-left-copy: "\ebbb";
$ch-icon-rotate-left: "\ebbc";
$ch-icon-rotate-right-copy: "\ebbd";
$ch-icon-rotate-right: "\ebbe";
$ch-icon-route-square: "\ebbf";
$ch-icon-routing-2: "\ebc0";
$ch-icon-routing: "\ebc1";
$ch-icon-row-horizontal: "\ebc2";
$ch-icon-row-vertical: "\ebc3";
$ch-icon-ruler: "\ebc4";
$ch-icon-rulerpen: "\ebc5";
$ch-icon-sagittarius: "\ebc6";
$ch-icon-save-2: "\ebc7";
$ch-icon-save-add: "\ebc8";
$ch-icon-save-minus: "\ebc9";
$ch-icon-save-remove: "\ebca";
$ch-icon-scan-barcode: "\ebcb";
$ch-icon-scan: "\ebcc";
$ch-icon-scanner: "\ebcd";
$ch-icon-scanning: "\ebce";
$ch-icon-scissor-copy: "\ebcf";
$ch-icon-scissor: "\ebd0";
$ch-icon-screenmirroring: "\ebd1";
$ch-icon-scroll: "\ebd2";
$ch-icon-search-favorite-1: "\ebd3";
$ch-icon-search-favorite: "\ebd4";
$ch-icon-search-normal-1: "\ebd5";
$ch-icon-search-normal: "\ebd6";
$ch-icon-search-status-1: "\ebd7";
$ch-icon-search-status: "\ebd8";
$ch-icon-search-zoom-in-1: "\ebd9";
$ch-icon-search-zoom-in: "\ebda";
$ch-icon-search-zoom-out-1: "\ebdb";
$ch-icon-search-zoom-out: "\ebdc";
$ch-icon-security-card: "\ebdd";
$ch-icon-security-safe: "\ebde";
$ch-icon-security-time: "\ebdf";
$ch-icon-security-user: "\ebe0";
$ch-icon-security: "\ebe1";
$ch-icon-send-sqaure-2: "\ebe2";
$ch-icon-send-square: "\ebe3";
$ch-icon-send: "\ebe4";
$ch-icon-setting-2: "\ebe5";
$ch-icon-setting-3: "\ebe6";
$ch-icon-setting-4: "\ebe7";
$ch-icon-setting-5: "\ebe8";
$ch-icon-setting: "\ebe9";
$ch-icon-settings: "\ebea";
$ch-icon-shapes-1: "\ebeb";
$ch-icon-shapes-2: "\ebec";
$ch-icon-shapes: "\ebed";
$ch-icon-shield-cross: "\ebee";
$ch-icon-shield-search: "\ebef";
$ch-icon-shield-security: "\ebf0";
$ch-icon-shield-slash: "\ebf1";
$ch-icon-shield-tick: "\ebf2";
$ch-icon-shield: "\ebf3";
$ch-icon-ship: "\ebf4";
$ch-icon-shop-add: "\ebf5";
$ch-icon-shop-remove: "\ebf6";
$ch-icon-shop: "\ebf7";
$ch-icon-shopping-bag: "\ebf8";
$ch-icon-shopping-cart: "\ebf9";
$ch-icon-siacoin-sc: "\ebfa";
$ch-icon-sidebar-bottom: "\ebfb";
$ch-icon-sidebar-left: "\ebfc";
$ch-icon-sidebar-right: "\ebfd";
$ch-icon-sidebar-top: "\ebfe";
$ch-icon-simcard-1: "\ebff";
$ch-icon-simcard-2: "\ec00";
$ch-icon-simcard: "\ec01";
$ch-icon-size: "\ec02";
$ch-icon-slack: "\ec03";
$ch-icon-slider-horizontal-1: "\ec04";
$ch-icon-slider-horizontal: "\ec05";
$ch-icon-slider-vertical-1: "\ec06";
$ch-icon-slider-vertical: "\ec07";
$ch-icon-smallcaps: "\ec08";
$ch-icon-smart-car: "\ec09";
$ch-icon-smileys: "\ec0a";
$ch-icon-sms-edit: "\ec0b";
$ch-icon-sms-notification: "\ec0c";
$ch-icon-sms-search: "\ec0d";
$ch-icon-sms-star: "\ec0e";
$ch-icon-sms-tracking: "\ec0f";
$ch-icon-sms: "\ec10";
$ch-icon-snapchat: "\ec11";
$ch-icon-solana-sol: "\ec12";
$ch-icon-speaker: "\ec13";
$ch-icon-spotify: "\ec14";
$ch-icon-stacks-stx: "\ec15";
$ch-icon-star-1: "\ec16";
$ch-icon-star-slash: "\ec17";
$ch-icon-star: "\ec18";
$ch-icon-status-up: "\ec19";
$ch-icon-stellar-xlm: "\ec1a";
$ch-icon-stickynote: "\ec1b";
$ch-icon-stop-circle: "\ec1c";
$ch-icon-stop: "\ec1d";
$ch-icon-strongbox-2: "\ec1e";
$ch-icon-strongbox: "\ec1f";
$ch-icon-subtitle: "\ec20";
$ch-icon-sun-1: "\ec21";
$ch-icon-sun-fog: "\ec22";
$ch-icon-sun: "\ec23";
$ch-icon-tag-2: "\ec24";
$ch-icon-tag-user: "\ec25";
$ch-icon-tag: "\ec26";
$ch-icon-task-square: "\ec27";
$ch-icon-task: "\ec28";
$ch-icon-teacher: "\ec29";
$ch-icon-tenx-pay: "\ec2a";
$ch-icon-tether-usdt: "\ec2b";
$ch-icon-text-block: "\ec2c";
$ch-icon-text-bold: "\ec2d";
$ch-icon-text-italic: "\ec2e";
$ch-icon-text-underline: "\ec2f";
$ch-icon-text: "\ec30";
$ch-icon-textalign-center: "\ec31";
$ch-icon-textalign-justifycenter: "\ec32";
$ch-icon-textalign-justifyleft: "\ec33";
$ch-icon-textalign-justifyright: "\ec34";
$ch-icon-textalign-left: "\ec35";
$ch-icon-textalign-right: "\ec36";
$ch-icon-the-graph-grt: "\ec37";
$ch-icon-theta-theta: "\ec38";
$ch-icon-thorchain-rune: "\ec39";
$ch-icon-ticket-2: "\ec3a";
$ch-icon-ticket-discount: "\ec3b";
$ch-icon-ticket-expired: "\ec3c";
$ch-icon-ticket-star: "\ec3d";
$ch-icon-ticket: "\ec3e";
$ch-icon-timer-1: "\ec3f";
$ch-icon-timer-pause: "\ec40";
$ch-icon-timer-start: "\ec41";
$ch-icon-timer: "\ec42";
$ch-icon-times: "\ec43";
$ch-icon-toggle-off-circle: "\ec44";
$ch-icon-toggle-off: "\ec45";
$ch-icon-toggle-on-circle: "\ec46";
$ch-icon-toggle-on: "\ec47";
$ch-icon-trade: "\ec48";
$ch-icon-transaction-minus: "\ec49";
$ch-icon-translate: "\ec4a";
$ch-icon-trello: "\ec4b";
$ch-icon-trend-down: "\ec4c";
$ch-icon-trend-up: "\ec4d";
$ch-icon-triangle: "\ec4e";
$ch-icon-trontron-trx: "\ec4f";
$ch-icon-truck-remove: "\ec50";
$ch-icon-truck-tick: "\ec51";
$ch-icon-truck-time: "\ec52";
$ch-icon-twitch: "\ec53";
$ch-icon-ui8: "\ec54";
$ch-icon-undo: "\ec55";
$ch-icon-unlimited: "\ec56";
$ch-icon-unlock: "\ec57";
$ch-icon-usd-coin-usdc: "\ec58";
$ch-icon-user-add: "\ec59";
$ch-icon-user-cirlce-add: "\ec5a";
$ch-icon-user-edit: "\ec5b";
$ch-icon-user-minus: "\ec5c";
$ch-icon-user-octagon: "\ec5d";
$ch-icon-user-remove: "\ec5e";
$ch-icon-user-search: "\ec5f";
$ch-icon-user-square: "\ec60";
$ch-icon-user-tag: "\ec61";
$ch-icon-user-tick: "\ec62";
$ch-icon-user: "\ec63";
$ch-icon-velas-vlx: "\ec64";
$ch-icon-vibe-vibe: "\ec65";
$ch-icon-video-add: "\ec66";
$ch-icon-video-circle: "\ec67";
$ch-icon-video-horizontal: "\ec68";
$ch-icon-video-octagon: "\ec69";
$ch-icon-video-play: "\ec6a";
$ch-icon-video-remove: "\ec6b";
$ch-icon-video-slash: "\ec6c";
$ch-icon-video-square: "\ec6d";
$ch-icon-video-tick: "\ec6e";
$ch-icon-video-time: "\ec6f";
$ch-icon-video-vertical: "\ec70";
$ch-icon-video: "\ec71";
$ch-icon-voice-cricle: "\ec72";
$ch-icon-voice-square: "\ec73";
$ch-icon-volume-cross: "\ec74";
$ch-icon-volume-high: "\ec75";
$ch-icon-volume-low-1: "\ec76";
$ch-icon-volume-low: "\ec77";
$ch-icon-volume-mute: "\ec78";
$ch-icon-volume-slash: "\ec79";
$ch-icon-volume-up: "\ec7a";
$ch-icon-vuesax: "\ec7b";
$ch-icon-wallet-1: "\ec7c";
$ch-icon-wallet-2: "\ec7d";
$ch-icon-wallet-3: "\ec7e";
$ch-icon-wallet-add-1: "\ec7f";
$ch-icon-wallet-add: "\ec80";
$ch-icon-wallet-check: "\ec81";
$ch-icon-wallet-minus: "\ec82";
$ch-icon-wallet-money: "\ec83";
$ch-icon-wallet-remove: "\ec84";
$ch-icon-wallet-search: "\ec85";
$ch-icon-wallet: "\ec86";
$ch-icon-wanchain-wan-1: "\ec87";
$ch-icon-wanchain-wan: "\ec88";
$ch-icon-watch-status: "\ec89";
$ch-icon-watch: "\ec8a";
$ch-icon-weight: "\ec8b";
$ch-icon-whatsapp: "\ec8c";
$ch-icon-wind-2: "\ec8d";
$ch-icon-wind: "\ec8e";
$ch-icon-windows: "\ec8f";
$ch-icon-wing-wing: "\ec90";
$ch-icon-woman: "\ec91";
$ch-icon-xd: "\ec92";
$ch-icon-xiaomi: "\ec93";
$ch-icon-xrp-xrp: "\ec94";
$ch-icon-youtube: "\ec95";
$ch-icon-zel-zel: "\ec96";
$ch-icon-zoom: "\ec97";

