.application {
    max-width: 582px;
    margin: 0 auto;
    overflow: auto;

    .section-container {
        margin-bottom: 30px;

        .list-container {
            border: 1.5px solid var(--crewmat-color-tertiary);
            border-radius: 10px;
            overflow: hidden;

            .single-row {
                .drag-icon {
                    &::after {
                        content: '';
                        display: block;
                        width: 50px;
                        height: 44px;
                        position: absolute;
                        left: -50px;
                    }
                }

                &:not(:hover) {
                    .drag-icon {
                        opacity: 0;
                    }
                }

                .required {
                    color: var(--crewmat-color-secondary);
                    background-color: var(--crewmat-color-secondary-15);
                }
            }
        }
    }
}
