.application {
	max-width: 582px;
	margin: 0 auto;
	overflow: auto;

	.section-container {
		margin-bottom: 30px;
		
		.list-container {
			border: 1.5px solid var(--crewhrm-color-tertiary);
			border-radius: 10px;
			overflow: hidden;

			&>.single-row {
				padding: 10px 15px;
				&:not(:last-child) {
					border-bottom: 1.5px solid  var(--crewhrm-color-tertiary);
				}

				.required{
					color: var(--crewhrm-color-secondary);
					background-color: var(--crewhrm-color-secondary-15);
				}
			}
		}
	}
}