

.editor-wrapper {
	background-color: white;

	&>.tabs, &>.form {
		&>div {
			max-width: 854px;
			margin: 0 auto;
		}
	}

	.action-buttons {
		button {
			padding: 10px 15px;
			width: 100%;
		}
		
		.back-button-container {
			width: 138px;
			margin-right: 40px;
		}
	}
}