.container {
	max-width: 1416px;
	margin: 0 auto;
	padding: 0 50px;
}

.employee-invitation-title {
	margin-bottom: 70px;
}

.width-min-content {
	width: min-content;
}
.crew-hrm-border {
	border-radius: 10px;
	border: 1.5px solid #e3e5e8;
	background: #fff;
}

