.single {
    .header {
        .container {
            max-width: 786px;
            margin: 0 auto;
            padding: 61px 15px 109px;
        }
    }

    .details {
		max-width: 95%;
		margin: auto;
		
        .container {
            max-width: 786px;
            margin: 0 auto;
        }
    }
}
