.single {
	.header {
		.container {
			max-width: 786px;
			margin: 0 auto;
			padding-top: 61px;
			padding-bottom: 109px;
		}
	}

	.details {
		.container {
			max-width: 786px;
			margin: 0 auto;
		}
	}
}
