.toast {
    width: 325px;
    max-height: 400px;
    overflow-x: hidden;
    overflow: auto;
    z-index: 9994;

    & > div {
        background-color: var(--crewhrm-color-primary);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
