.confirm {
    width: 619px;
    max-width: 100%;

    .cancel-button {
        width: 118px;
        color: var(--crewhrm-color-text-light);
        border-color: var(--crewhrm-color-text-lighter);
        background-color: white;

        &:hover,
        &:focus {
            border-color: var(--crewhrm-color-text-lighter);
            color: var(--crewhrm-color-text);
            outline: none;
            box-shadow: none;
        }
    }

    .delete-button {
        width: 224px;
        background-color: var(--crewhrm-color-error);
        border-color: var(--crewhrm-color-error);
        color: white;
    }
}
