.apply {
    .header {
        background-color: #f9f9f9;

        .container {
            max-width: 786px;
            margin: 0 auto;
        }
    }

    .sequence > div,
    .form {
        max-width: 552px;
        margin: 0 auto;
    }
}
