.wrapper {
    .toolbar {
        border: none;
        margin: 0;
        border-bottom: 1px solid var(--crewhrm-color-tertiary);

        &,
        & > div {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            flex-wrap: wrap;
        }

        & > div > div {
            &,
            &:hover,
            &:focus,
            &:active {
                border: none;
                box-shadow: none;
                outline: none;
            }

            &[aria-selected='true'] {
                background-color: lightgray;
                border-radius: 4px;
            }
        }

        & > div[aria-label='rdw-font-size-control'] {
            a {
                color: inherit;
            }

            ul {
                margin: 6px 0 0 0;
                max-height: 130px;
                overflow: auto;
                padding: 0;

                li {
                    margin: 0;
                    padding: 5px 15;
                }
            }
        }
    }

    .editor {
        padding-left: 15px;
        padding-right: 15px;
        min-height: 150px;
    }
}
