.addemployee-manually-wrapper {
	margin: 90px auto;
	gap: 72px 40px;
	.sequence-down-wrapper {
		flex-basis: 234px;
	}
	.employeeinfo-form-wrapper {
		flex-basis: 684px;
	}
	.employeeinfo-form {
		border-radius: 5px;
		background: #fff;
		box-shadow: 0px 1px 2px 0px rgba(16, 39, 68, 0.08);
		padding: 30px;
		.profile-img {
			margin-top: -80px;
			position: relative;
			width: max-content;
			
			.image {
				width: 120px;
				height: 140px;
				padding: 20px;
				border-radius: 10px;
				background-size: cover;
				background-position: center center;
				border: 7px solid white;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: white;

				&:not(.has-image) {
					border-color: rgba(211, 211, 211, 0.33);
				}
			}

			.upload-icon {
				position: absolute;
				width: max-content;
				bottom: -28px;
				right: -10px;
			}
		}
	}
}

.addemployee-manually-top {

	margin-top: 35px;

	.complete-progressbar {
		span {
			display: inline-block;
		}

		.complete-progressbar-bar {
			width: 60px;
			height: 4px;
			background-color: #e3e5e8;
			position: relative;
			border-radius: 40px;
			
			.upgradeable-progressbar-bar {
				border-radius: 40px;
				position: absolute;
				height: 4px;
				top: 0;
				left: 0;
				background-color: #236bfe;
			}
		}
	}
}
