.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;

    .sidebar,
    .content-area {
        float: left;
    }

    .sidebar {
        width: 461px;
        padding: 36px;
        background-color: #e3e5e8;
    }

    .content-area {
        flex: 1;
        padding: 36px;
    }
}
