.wrapper {
    max-width: 1366px;
    margin: 0 auto;
	
    .sidebar, .content-area {
        float: left;
    }

    .sidebar {
        width: 461px;
        padding: 36px;
        background-color: #e3e5e8;
    }

    .content-area {
		padding: 36px 49px;
        width: calc(100% - 461px);
    }
}
