.benefit-dropdown-wrapper {
	&:not(:first-child) {
		margin-top: 30px;
	}
	.benefit-dropdown-item {
		.benefit-dropdown-item-wrapper {
			.benefit-dropdown-item-child {
				display: flex;
				// gap: 10px;
				&:first-child {
					margin-top: 25px;
				}
				&:not(:first-child) {
					margin-top: 10px;
					.benefit-line {
						&:after {
							background-color: #e3e5e8;
							width: 2px;
							height: calc(100% + 10px);
							top: -10px;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
				.benefit-line {
					flex: 0 0 50px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						background-color: #e3e5e8;
						width: 2px;
						height: 100%;
						left: 50%;
						transform: translateX(-50%);
					}
					&:before {
						content: '';
						position: absolute;
						background-color: #e3e5e8;
						width: 12px;
						height: 2px;
						top: 50%;
						left: 26px;
					}
				}
				&:last-child {
					.benefit-line {
						&:after {
							content: '';
							position: absolute;
							background-color: #e3e5e8;
							width: 2px;
							height: calc(100% - 17.5px);
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
				.benefit-child-content {
					flex: 0 0 calc(100% - 50px);
				}
			}
		}
	}
}

.benifit-borders {
	border-radius: 10px;
	border: 1.5px solid #e3e5e8;
	background: #fff;
}
