@import '../../styles/mixins';

.text-field {
	display: flex;
	align-items: center;

	&.icon-right {
		flex-direction: row-reverse;
	}

	.image {
		width: auto;
		height: auto;
		max-width: 16px;
		max-height: 16px;
		display: inline-block;
	}
}