@import '../../styles/mixins';

.text-field {
	display: flex;
	align-items: center;
	padding: 10px 11px;
	border: 1px solid var(--crewhrm-border-color-tertiary);
	
	&.icon-right {
		flex-direction: row-reverse;
	}

	.ch-icon {
		color: var(--crewhrm-text-color-secondary);
		font-size: 16px;
	}

	.image {
		width: auto;
		height: auto;
		max-width: 16px;
		max-height: 16px;
		display: inline-block;
	}
}