.documents {
    .attachments {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        .single-attachment {
            .attachment-overlay {
                &.has-thumbnail {
                    display: none;
                    background-color: rgba(26, 26, 26, 0.8);
                }
            }

            &:hover {
                .has-thumbnail {
                    display: flex;
                }
            }
        }
    }
}
