.hiring {
	max-width: 582px;
	margin: 0 auto;
	overflow: auto;

	.single {
		height: 56px;
		

		&, input {
			background-color: white;
		}

		&:hover {
			&, input {
				background-color: #F9F9F9;
			}
		}

		input[type=text] {
			padding: 0;
			margin: 0;
			margin-left: 5px;
			width: 100%;

			&, &:active, &:focus, &:hover {
				border: none;
				outline: none;
				box-shadow: none;
			}
		}

		&:not(:hover) {
			.trash {
				display: none;
			}
		}
	}

	.add-stage {
		color: #236BFE;
		border: 1.5px solid #236BFE;
		border-radius: 10px;
		padding: 10px 15px;
		cursor: pointer;
	}
}