.hiring {
	max-width: 582px;
	margin: 0 auto;
	overflow: auto;

	.single {
		height: 56px;
		
		& {
			background-color: white;
			&:hover {
				background-color: #F9F9F9;
			}
		}

		&:not(:hover) {
			.trash {
				display: none;
			}
		}
	}

	.add-stage {
		color: #236BFE;
		border: 1.5px solid #236BFE;
		border-radius: 10px;
		padding: 10px 15px;
		cursor: pointer;
	}
}