.wrapper{
	max-width: 1366px;
	margin: 0 auto;
	display: flex;

	.sidebar, .content-area {
		box-sizing: border-box;
		float: left;
	}

	.sidebar{
		width: 461px;
		padding: 36px;
		background-color: #E3E5E8;
	}

	.content-area {
		flex: 1;
	}
}