.intro {
    padding: 35px;
    display: flex;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    &.orientation-horizontal {
        flex-direction: row;

        .content {
            flex: 7;
        }

        .image {
            flex: 3;
        }
    }

    &.orientation-vertical {
        flex-direction: column;
        background-position: bottom;

        .image {
            margin-top: 20px;

            img {
                width: 100%;
                height: auto;
                visibility: hidden;
            }
        }
    }
}
